.autocomplete-list:not(:empty)
    position: absolute
    right: 0
    left: 0
    background: $dropdown-content-background-color
    border-top: 2px solid $border
    box-shadow: $dropdown-content-shadow
    padding-bottom: $dropdown-content-padding-bottom
    padding-top: $dropdown-content-padding-top
    z-index: 50

    .autoComplete_result,
    .no_result
        padding: 0.375rem 1rem
        margin: 0
        user-select: none

    .autoComplete_result
        &:hover,
        &.autoComplete_selected
            background: $background
            cursor: pointer

        .autoComplete_highlighted
            font-weight: $weight-semibold

        &+.autoComplete_result
            border-top: 1px solid $border-light

    .no_result
        cursor: not-allowed

    .media.profile
        align-items: center
