{% extends '@theme/homepage/_card_calendar.twig' %}

{% block name 'agenda' %}

{% block title __('') %}

{% block content %}
	{% set agenda_items = view.layout.agenda %}

	{% if agenda_items|length > 0 %}
		<ol>
			{% for item in agenda_items|slice(0, 4) %}
				<div class="event-in-calendar">
					<li class="by-committee-{{item.committee.login}}">
						<a href="agenda.php?agenda_id={{ item.id }}">
							<div class="columns">
								<div class="column is-one-quarter event-date ">
									<span class="is-size-5-touch is-size-5-desktop month is-event-date is-uppercase">{{ item.van|date('M') }}</span>
									<span class="is-size-5-touch is-size-5-desktop day is-event-date">&nbsp;{{ item.van|date('d') }}</span>
								</div>
								<div id="event-{{loop.index - 1}}" class="column event-details">
									<h3 class="is-3 is-event-title is-capitalized is-black-text">{{ item.kop }}</h3>
									{% if item.extern %}
										<span class="details is-black-text is-duartion">{{ __('External activity') }}</span>
									{% else %}
										<span class="details is-black-text is-duartion">{{ item|period_short }}</span>
									{% endif %}
									{% if item.is_proposal() %}
										<span class="label-pending is-black-text is-duartion">{{ __('Not yet published') }}</span>
									{% endif %}
								</div>
							</div>
						</a>
					</li>
				</div>
			{% endfor %}
		</ol>
	{% else %}
		<p class="container-fancy">{{ __('There are no activities on the calendar at the moment.') }}</p>
	{% endif %}

{% endblock %}

{% block footer %}
	<a href="agenda.php" class="card-footer-item is-black-text">{{ __('Complete calendar') }}</a>
{% endblock %}
