<div class="field">
	{{ html_label('Label for textfield', 'label', errors=errors, for='field-' ~ name ~ '-label') }}
	<div class="control">
		{{ html_input_text('label', data, errors=errors, id='field-' ~ name ~ '-label') }}
	</div>
</div>
<div class="field">
	<div class="control">
		{{ html_input_radio('multiline', data, '0', errors=errors, id='field-' ~ name ~ '-multiline-0', label=__('Single line of text')) }}
		{{ html_input_radio('multiline', data, '1', errors=errors, id='field-' ~ name ~ '-multiline-1', label=__('Multiple lines of text') ) }}
	</div>
</div>
<div class="field">
	<div class="control">
		{{ html_input_checkbox('required', data, errors=errors, id='field-' ~ name ~ '-required', label=__('Filling in this field is mandatory')) }}
	</div>
</div>
