{% extends '@layout/layout.twig' %}

{% block title __('Delete announcement') ~ ' – ' ~ parent() %}

{% block content %}
<div class="modal is-static">
    <div class="modal-card">
        <form method="post" action="{{ controller.link_to_delete(iter) }}">
            {{ html_nonce('delete', iter) }}
            <header class="modal-card-head">
                <p class="modal-card-title">{{ __('Delete announcement') }}</p>
            </header>
            <section class="modal-card-body">
                <p>{{ __('Are you sure you want to delete the announcement <em>%s</em>?')|format(iter.subject|e('html'))|raw }}</p>
            </section>
            <footer class="modal-card-foot">
                <a href="{{ controller.link_to_read(iter) }}" class="button" data-dismiss="modal">{{ __('Back to announcement') }}</a>
                <button type="submit" class="button is-danger">{{ __('Delete announcement') }}</button>
            </footer>
        </form>
    </div>
</div>
{% endblock %}