{% extends '@layout/layout.twig' %}

{% block title (iter.has_id ? __('Modify announcement') : __('Add a new announcement')) ~ ' – ' ~ parent() %}

{% block content %}
<h1 class="title">{{ iter.has_id ? __('Modify announcement') : __('Add a new announcement') }}</h1>
<div class="messageBox announcement">
	<form method="post" action="{{ view.get_form_action(iter) }}">
		{% if iter.has_id %}
			{{ html_nonce('update', iter) }}
		{% else %}
			{{ html_nonce('create', iter) }}
		{% endif %}
		
		<div class="field">
			{{ html_label(__('Post as committee'), 'committee_id', errors=errors, required=true) }}
			<div class="control">
				<div class="select">
					{{ html_select_field('committee_id', view.get_committee_options(iter), iter.data, required=true) }}
				</div>
			</div>
		</div>

		<div class="field">
			{{ html_label(__('Visible to'), 'visibility', errors=errors, required=true) }}
			<div class="control">
				<div class="select">
					{{ html_select_field('visibility', view.get_visibility_options(), iter.data, required=true) }}
				</div>
			</div>
		</div>		

		<div class="field">
			{{ html_label(__('Subject'), 'subject', errors=errors, required=true) }}
			<div class="control">
				{{ html_input_text('subject', iter.data, required=true) }}
			</div>
		</div>

		<div class="field">
			{{ html_label(__('Message'), 'message', errors=errors, required=true) }}
			<div class="tabs-wrapper is-condensed">
				<div class="tabs is-toggle">
					<ul>
						<li class="is-active">
							<a href="#message-tab">{{ __('Raw') }}</a>
						</li>
						<li>
							<a href="#message-preview-tab">{{ __('Preview') }}</a>
						</li>
					</ul>
				</div>
				<div class="tabs-content">
					<div id="message-tab" class="is-active">
						{{ html_textarea_field('message', iter.data, errors=errors, rows=10) }}
					</div>
					<div id="message-preview-tab" class="content-preview box" data-preview-source="#message-tab textarea" data-preview-url="announcements.php?view=preview">
						<span class="loading">{{ __('Loading preview…') }}</span>
					</div>
				</div>
			</div>
		</div>

		<div class="field">
			<div class="control buttons">
				<button type="submit" class="button is-primary">{{ iter.has_id ? __('Modify announcement') : __('Post announcement') }}</button>
				{% if iter.has_id %}
				<a href="{{ controller.link_to_read(iter) }}" class="button">{{ __('Back to announcement') }}</a>
				{% else %}
				<a href="{{ controller.link_to_index() }}" class="button">{{ __('Back to all announcements') }}</a>
				{% endif %}
			</div>
		</div>
	</form>
</div>
{% endblock %}