{% extends '@layout/layout.twig' %}

{% block title iter.subject ~ ' – ' ~ parent() %}

{% block content %}
<article class="media">
	<div class="media-content">
		<div class="level is-marginless">
			<div class="level-left">
				<h1 class="title">
					{{ iter.subject }}
				</h1>
			</div>
			{% if user_can_update iter or user_can_delete iter %}
				<div class="level-right">
					<div class="dropdown is-right">
						<div class="dropdown-trigger">
							<button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
								<span>{{ __('Manage') }}</span>
								<span class="icon is-small">
									<i class="fas fa-angle-down" aria-hidden="true"></i>
								</span>
							</button>
						</div>
						<div class="dropdown-menu" id="dropdown-menu" role="menu">
							<div class="dropdown-content">
								<a class="dropdown-item" href="announcements.php?view=read&amp;id={{ iter.id }}" title="{{ __('Modify announcement') }}">
									<span class="icon">
										<i class="fas fa-link" aria-hidden="true"></i>
									</span>
									<span>{{ __('Link announcement') }}</span>
								</a>
								{% if user_can_update iter %}
									<a class="dropdown-item" href="announcements.php?view=update&amp;id={{ iter.id }}" title="{{ __('Modify announcement') }}">
										<span class="icon">
											<i class="fas fa-pencil-alt" aria-hidden="true"></i>
										</span>
										<span>{{ __('Modify announcement') }}</span>
									</a>
								{% endif %}
								{% if user_can_delete iter %}
									<a class="dropdown-item" href="announcements.php?view=delete&amp;id={{ iter.id }}" title="{{ __('Delete announcement') }}" data-popup="modal">
										<span class="icon">
											<i class="fas fa-trash" aria-hidden="true"></i>
										</span>
										<span>{{ __('Delete announcement') }}</span>
									</a>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			{% endif %}
		</div>
		<p class="subtitle is-6">
			<small>
				{{ __('By') }}:
				<a href="commissies.php?commissie={{ iter.committee.login }}">{{ iter.committee.naam }}</a>
				{{ __('on') }}
				{{ iter.created_on|date() }}
			</small>
		</p>
		<div class="content">
			{{ iter.message|parse_markup }}
		</div>

	</div>
</article>
<article class="media">
	<div class="media-content has-text-centered">
		<a href="{{ controller.link_to_index() }}">{{ __('Show all announcements') }}</a>
	</div>
</article>
{% endblock %}