{% extends '@layout/layout.twig' %}

{% block title __('Vacancies') ~ ' – ' ~ parent() %}

{% block content %}
<header class="block">
    {% set header = global.models.Editable.get_iter_from_title('vacancies') %}
    <div class="level">
        <div class="level-left">
            <h1 class="title">{{ __('Vacancies') }}</h1>
        </div>
        <div class="level-right buttons">
            {% if user_can_update header %}
                <a href="{{ link('editable.update', editable=header) }}" class="button">
                    <span class="icon">
                        <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                    </span>
                    <span>{{ __('Modify header') }}</span>
                </a>
            {% endif %}
            {% if user_can_create controller.new_iter %}
                <a href="{{ controller.link_to_create()|e('html_attr') }}" class="button">
                    <span class="icon">
                        <i class="fas fa-plus" aria-hidden="true"></i>
                    </span>
                    <span>{{ __('New vacancy')  }}</span>
                </a>
            {% endif %}
        </div>
    </div>
    {% if header %}
        <div class="content">
            {{ header.locale_content|parse_markup }}
        </div>
    {% endif %}
</header>
<section class="block">
    {{ include('filter_form.twig') }}
</section>
<section class="block">
    <h2 class="is-sr-only">{{ __('Vacancies') }}</h2>
    <div class="columns is-mobile">
        <div class="column">
            <div class="field is-grouped is-grouped-multiline" data-filter-tags data-auto-submit-visible hidden>
                <p class="control">
                    <small>{{ __('Filter:') }}</small>
                </p>
                {% for tag in view.get_filter_tags(filter) %}
                    <div class="control">
                        <div class="tags has-addons">
                            <span class="tag">{{ tag.name }}</span>
                            <label class="tag is-delete" type="button" for="{{ tag.for }}"><span class="is-sr-only">{{ __('Delete filter') }}</span></label>
                        </div>
                    </div>
                {% else %}
                    <p class="control">
                        <small>{{ __('All vacancies') }}</small>
                    </p>
                {% endfor %}
            </div>
        </div>
        <p class="column is-narrow">
            <small>{{ __N('%d vacancy', '%d vacancies', iters|length) }}</small>
        </p>
    </div>
    <ul class="vacancy-list">
        {% for iter in iters %}
            <li class="vacancy {% if iter.partner %}has-image{% endif %}">
                <a class="media" href="{{ controller.link_to_read(iter) }}">
                    {% if iter.partner %}
                        <figure class="media-left image">
                            {% if iter.partner.logo_dark_url is defined %}
                                <img class="darkmode" src="{{ iter.partner.get_logo_dark(700) }}">
                            {% endif %}
                            <img class="default" src="{{ iter.partner.get_logo(700) }}">
                        </figure>
                    {% endif %}
                    <div class="media-content">
                        <h2 class="title is-5">{{ iter.title }}</h2>
                        <ul class="properties is-size-7">
                        {% spaceless %}
                            <li class="property" title="{{ __('Company') }}">
                                <span class="icon is-small">
                                    <i class="fas fa-building" aria-hidden="true"></i>
                                    <span class="is-sr-only">{{ __('Company') }}:</span>    
                                </span>
                                {{ iter.partner ? iter.partner.name : iter.partner_name }}
                            </li>
                            <li class="divider" role="separator"></li>
                            <li class="property" title="{{ __('Job type') }}">
                                <span class="icon is-small">
                                    <i class="fas fa-hourglass-half" aria-hidden="true"></i>
                                    <span class="is-sr-only">{{ __('Job type') }}:</span>    
                                </span>
                                {{ view.type_options[iter.type] }}
                            </li>
                            <li class="divider" role="separator"></li>
                            <li class="property" title="{{ __('Skill level') }}">
                                <span class="icon is-small">
                                    <i class="fas fa-user-graduate" aria-hidden="true"></i>
                                    <span class="is-sr-only">{{ __('Skill level') }}:</span>    
                                </span>
                                {{ view.study_phase_options[iter.study_phase] }}
                            </li>
                        {% endspaceless %}
                        </ul>
                        <div class="description content">
                            {{ iter.description|strip_markup }}
                        </div>
                    </div>
                </a>
            </li>
        {% else %}
            <li>
                <td colspan="6">
                    <p class="has-text-centered">
                        {{ __('No vacancies found :(') }}
                    </p>
                </td>
            </li>
        {% endfor %}
    </ul>
</section>
{% endblock %}
