{% macro render_poll(poll, link_title = false) %}
	{% if global.policies.Poll.user_can_vote(poll) %}
		<form method="post" action="forum.php?thread={{ poll.id }}&amp;view=vote">
			{% if link_title %}
				<a href="forum.php?thread={{poll.id}}"><h3 class="title is-5">{{poll.subject}}</h3></a>
			{% else %}
				<h3 class="title is-5">{{poll.subject}}</h3>
			{% endif %}


			{{ html_nonce('poll_vote', poll) }}
			{% for option in poll.options %}
				<div class="field">
					<div class="control">
						{{ html_input_radio('option', null, option.id, id='forum_poll_option_' ~ option.id, required=true, label=option.optie) }}
					</div>
				</div>
			{% endfor %}

			<div class="control">
				<button type="submit" class="button is-primary">{{ __('Vote') }}</button>
			</div>
		</form>
	{% else %}
		{% if link_title %}
			<a href="forum.php?thread={{poll.id}}"><h3 class="title is-5">{{poll.subject}}</h3></a>
		{% else %}
			<h3 class="title is-5">{{poll.subject}}</h3>
		{% endif %}

		{% for option in poll.options %}
			<div class="media">
				<div class="media-content">
					{{ option.optie }}
					<div class="columns is-vcentered is-mobile">
						<div class="column is-9">
							<progress class="progress is-danger" value="{{ option.percentage }}" max="100">{{ '%0.1f'|format(option.percentage) }}%</progress>	
						</div>
						<div class="column is-3">
							{{ '%0.1f'|format(option.percentage) }}%
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
		<div class="media">
			<div class="media-content">
				{{ __('Number of votes') }}: {{ poll.total_votes }}
			</div>
		</div>
		{% if link_title %}
			<div class="level">
				<div class="level-left">
					{% if not global.auth.logged_in %}
						<a class="level-item button" href="{{ link('sessions.login') }}">{{ __('Log in to vote') }}</a>
					{% elseif global.models.Poll.can_create_new_poll %}
						<a class="level-item button" href="forum.php?forum={{ poll.forum_id }}&amp;view=create_poll">{{ __('New poll ') }}</a>
					{% endif %}
				</div>
			</div>
		{% endif %}
	{% endif %}
{% endmacro %}
