{% extends '@layout/layout.twig' %}

{% block title __('Forum') ~ ' – ' ~ parent() %}

{% block content %}

<div class="level">
	<div class="level-left">
		<h1 class="title">{{ __('Forum') }}</h1>
	</div>
</div>

{% set prev_header = null %}
{% set last_header = null %}

{% for iter in iters if user_can_read iter %}
	{% for header in headers if iter.position > header.position %}
		{% set last_header = header %}
	{% endfor %}
	
	{% if last_header and last_header != prev_header %}
		<article class="media">
			<div class="media-left">
				<h2 class="title is-4">
					{{ last_header.name }}
				</h2>
			</div>
		</article>
		{% set prev_header = last_header %}
	{% endif %}

	<article class="media">
		<div class="media-left">
			<span class="icon is-large" title="Conversation">
				<span class="is-sr-only">Conversation</span>
				<span class="fa-layers fa-fw fa-2x">
					<i class="fas fa-book" aria-hidden="true"></i>
					{% if view.has_unread_threads(iter) %}
						<span class="fa-layers-counter has-text-danger" aria-hidden="true"></span>
						<span class="is-sr-only">New messages</span>
					{% endif %}
				</span>
			</span>
		</div>
		<div class="media-content">
			<div class="content">
				<p>
					<strong>
						<a href="forum.php?forum={{ iter.id }}">{{ iter.name }}</a>
					</strong>
					&ndash;
					<small>
						{{ iter.num_threads }} threads
					</small>
					<br>
					{{ iter.description }}
				</p>
			</div>
		</div>
		<div class="media-right">
			
		</div>
	</article>
{% endfor %}
{% endblock %}
