{% extends '@layout/layout.twig' %}

{% set option_values = options|select('optie') %}

{% block content %}
<div class="level">
	<div class="level-left">
		<h1 class="title"><a href="forum.php">{{ __('Forum') }}</a> / <a href="forum.php?forum={{ forum.id }}">{{ forum.name }}</a></h1>
	</div>
</div>

<form action="" method="post">
	{{ html_nonce('create_poll', forum) }}
	<div class="field">
		{{ html_label(__('Author'), 'unified_author', errors=errors, required=true) }}
		<div class="control">
			<div class="select">
				{{ html_select_field('unified_author', unified_authors, message, errors=errors, required=true) }}
			</div>
		</div>
	</div>

	<div class="field">
		{{ html_label(__('Subject'), 'subject', errors=errors, required=true) }}
		<div class="control">
			{{ html_input_text('subject', poll, errors=errors, required=true, autofocus='end') }}
		</div>
	</div>

	{% for option in options %}
	<div class="field">
		{{ html_label(__('Option %d')|format(loop.index), 'poll_option[' ~ loop.index0 ~ ']', errors=errors) }}
		<div class="control">
			{{ html_input_text('poll_option[' ~ loop.index0 ~ ']', {'poll_option': option_values}, errors=errors) }}
		</div>
	</div>
	{% endfor %}

	<div class="field">
        {{ html_label(__('Subject/question'), 'message', errors=errors) }}
		<div class="tabs-wrapper is-condensed">
			<div class="tabs is-toggle">
				<ul>
					<li class="is-active">
						<a href="#forum-message">{{ __('Raw') }}</a>
					</li>
					<li>
						<a href="#forum-message-preview">{{ __('Preview') }}</a>
					</li>
				</ul>
			</div>

			<div class="tabs-content">
				<div id="forum-message" class="is-active">
	                {{ html_textarea_field('message', message, rows=3, errors=errors) }}
				</div>
				<div id="forum-message-preview" class="content-preview box" data-preview-source="#forum-message textarea" data-preview-url="forum.php?view=preview">
					<span class="loading">{{ __('Loading preview…') }}</span>
				</div>
			</div>
		</div>
	</div>

	<div class="field">
		<div class="control buttons">
			<button type="submit" class="button is-primary">{{ __('Publish poll') }}</button>
			<a href="forum.php?forum={{ forum.id }}" class="button">{{ __('Back to forum') }}</a>
		</div>
	</div>
</form>
{% endblock %}