{% extends '@layout/layout.twig' %}

{% block title __('Delete topic') ~ ' – ' ~ parent() %}

{% block content %}
<div class="level">
    <div class="level-left">
        <h1 class="title">{{ __('Delete topic') }}</h1>
    </div>
</div>

<form method="post" action="forum.php?view=delete&amp;thread={{ iter.id }}">
	{{ html_nonce('delete_thread', iter) }}
    <div class="field">
        <p>{{ __('Are you sure you want to delete the whole <em>%s</em> topic, including all its messages?')|format(iter.subject|e)|raw }}</p>
    </div>
    <div class="field">
    	<div class="control buttons">
    		<button type="submit" class="button is-danger">{{ __('Delete topic')  }}</button>
    		<a href="forum.php?thread={{ iter.id }}" class="button">{{ __('Back to topic') }}</a>
    	</div>
    </div>
</form>
{% endblock %}