{% extends '@layout/layout.twig' %}

{% block title __('Delete photo book') ~ ' – ' ~ parent() %}

{% block content %}
<div class="modal is-static">
	<div class="modal-card">
		<form method="post" action="fotoboek.php?view=delete_book&amp;book={{ iter.id }}">
			{{ html_nonce('delete', iter) }}
			<header class="modal-card-head">
				<p class="modal-card-title">{{ __('Delete photo book') }}</p>
			</header>
			<section class="modal-card-body">
				<div class="field">
					<p>{{ __('Are you sure you want to delete the <em>%s</em> photo book?')|format(iter.titel|e)|raw }}</p>
				</div>
				<div class="field">
					{{ html_label(__('As confirmation, enter the name of the photo book you are about to entirely delete'), 'confirm_delete', errors=errors, required=true) }}
					<div class="control">
						{{ html_input_text('confirm_delete', null, errors=errors, required=true) }}
					</div>
				</div>
			</section>
			<footer class="modal-card-foot">
				<a href="fotoboek.php?book={{iter.parent.id}}#book_{{iter.id}}" class="button" data-dismiss="modal">{{ __('Cancel') }}</a>
				<button type="submit" class="button is-danger">{{ __('Delete photo book') }}</button>
			</footer>
		</form>
	</div>
</div>
{% endblock %}