{% extends '@layout/layout.twig' %}

{% block title __('Update Photo') ~ ' – ' ~ parent() %}

{% block content %}
<div class="modal is-static">
	<div class="modal-card">
		<form method="post" action="fotoboek.php?book={{book.id}}&amp;photo={{photo.id}}&amp;view=update_photo">
			{{ html_nonce('update', photo) }}
			<header class="modal-card-head">
				<p class="modal-card-title">{{ __('Update photo') }}</p>
			</header>
			<section class="modal-card-body">
				<div class="field">
					{{ html_label(__('Title'), 'beschrijving', errors=errors) }}
					<div class="control">
						{{ html_input_text('beschrijving', photo, errors=errors) }}
					</div>
				</div>
			</section>
			<footer class="modal-card-foot">
				<a href="fotoboek.php?book={{book.id}}&amp;photo={{photo.id}}" class="button" data-dismiss="modal">{{ __('Return to photo') }}</a>
				<button type="submit" class="button is-primary">{{ __('Update photo') }}</button>
			</footer>
		</form>
	</div>
</div>
{% endblock %}