{% extends '@layout/layout.twig' %}

{% block title __('Download photo book') ~ ' – ' ~ parent() %}

{% block content %}
<div class="modal is-static">
	<div class="modal-card">
		<form method="get" action="fotoboek.php" id="download-photo-book-form">
			<input type="hidden" name="book" value="{{ book.id }}">
			<header class="modal-card-head">
				<p class="modal-card-title">{{ __('Download photo book') }}</p>
			</header>
			<section class="modal-card-body">
				<div class="field">
					<p>{{ __('Are you sure you want to download <a href="%s">%s</a> and all of its sub books?')|format('fotoboek.php?book=' ~ book.id|e('url'), book.titel|e)|raw }}</p>
				</div>

				<div class="field">
					<p>{{ __('Note that you will be downloading %d originals. That is <strong>%s</strong> in total!')|format(total_photos, total_file_size|human_file_size)|raw }}</p>
				</div>
			</section>
			<footer class="modal-card-foot">
				<a href="fotoboek.php?book={{ book.id }}" class="button" data-dismiss="modal">{{ __('Cancel') }}</a>
				<button type="submit" class="button is-primary" name="view" value="download_book">{{ __('Download as a ZIP (%s)')|format(total_file_size|human_file_size) }}</button>
			</footer>
		</form>
	</div>
</div>
{% endblock %}