{% extends '@layout/layout.twig' %}

{% block title __('Visibility of photo') ~ ' – ' ~ parent() %}


{% block content %}
<div class="modal is-static">
	<div class="modal-card">
		<form method="post" action="fotoboek.php?photo={{ photo.id|e('url') }}&amp;book={{ photo.scope.id }}&amp;module=privacy">
			{{ html_nonce('privacy', photo) }}
			<header class="modal-card-head">
				<p class="modal-card-title">{{ __('Visibility of photo') }}</p>
			</header>
			<section class="modal-card-body">
				{# Not .image, because of scaling #}
				<figure>
					<img src="{{ photo.get_url(null, 400)|e('html_attr') }}" {{ 'width="%d" height="%d"'|vformat(photo.get_scaled_size(400, 400))|raw }}>
				</figure>
				
				<div class="field">
					<label class="label">{{ __('Visibility of this photo')}}</label>
					<div class="control">
						{{ html_input_radio('visibility', {'visibility': visibility }, 'visible', label=__('Show photo in my personal photo album')) }}
					</div>
					<div class="control">
						{{ html_input_radio('visibility', {'visibility': visibility }, 'hidden', label=__('Hide from my personal photo album')) }}
					</div>
				</div>
			</section>
			<footer class="modal-card-foot">
				<button type="submit" class="button is-primary">{{ __('Change visibility') }}</button>
			</footer>
		</form>
	</div>
</div>
{% endblock %}