{% extends '@layout/layout.twig' %}

{% block title (iter.has_id ? __('Update sticker') : __('Add a new sticker')) ~ ' – ' ~ parent() %}

{% block content %}
<div class="modal is-static">
	<div class="modal-card">
		<header class="modal-card-head">
			<h1 class="modal-card-title">{{ iter.has_id ? __('Update sticker') : __('Add a new sticker') }}</h1>
		</header>
		<section class="modal-card-body">
			<form id="sticker-form" method="POST" action="{{ view.get_form_action(iter) }}">
				<input type="hidden" name="lat">
				<input type="hidden" name="lng">

				{% if iter.has_id %}
					{{ html_nonce('update', iter) }}
				{% else %}
					{{ html_nonce('create', iter) }}
				{% endif %}

				<div class="field">
					{{ html_label(__('Label'), 'label', errors=errors, required=true) }}
					<div class="control">
						{{ html_input_text('label', iter, required='required', placeholder=__('E.g. on a lamppost')) }}
					</div>
				</div>

				<div class="field">
					{{ html_label(__('Description'), 'omschrijving', errors=errors) }}
					<div class="control">
						{{ html_textarea_field('omschrijving', iter) }}
					</div>
				</div>

				<div
					class="field location-picker"
					data-label="{{ __('Location') }}*"
					data-help-text="{{ __('Drag the marker or click the map to select a location') }}"
					data-lat-field="lat"
					data-lng-field="lng"
					data-zoom="{{ global.GET.zoom ?? '' }}"
				>
					<div class="notification is-danger is-light" data-unsupported-message hidden>
						This location picker uses WebGL for a better experience. Please check that you are using a supported browser and that <a href="https://get.webgl.org/" target="_blank" rel="noopener noreferrer" >WebGL is enabled</a>.
					</div>
					<div class="field">
						{{ html_label(__('Latitude'), 'lat', errors=errors, required=true) }}
						<div class="control">
							{{ html_input_number('lat', iter) }}
						</div>
					</div>
					<div class="field">
						{{ html_label(__('Longitude'), 'lng', errors=errors, required=true) }}
						<div class="control">
							{{ html_input_number('lng', iter) }}
						</div>
					</div>
				</div>
			</form>
		</section>
		<footer class="modal-card-foot">
			<a href="{{ controller.link_to_next() }}" class="button" data-dismiss="modal">
				{{ __('Return to map') }}
			</a>
			<button type="submit" class="button is-primary" form="sticker-form">
				{{ __('Add sticker to map') }}
			</button>
		</footer>
	</div>
</div>
{% endblock %}