{% extends '@layout/layout.twig' %}

{% block title __('Sticker map') ~ ' – ' ~ parent() %}

{% block page %}
<article class="sticker-map">
	<header class="section">
		<div class="level">
			<div class="level-left">
				<h1 class="title">{{ __('Sticker map') }}</h1>
			</div>
			{% if user_can_create controller.new_iter %}
			<div class="level-right buttons">
				<a href="{{ controller.link_to_create() }}" class="button" data-popup="modal" data-add-sticker-button>
					<span class="icon"><i class="fas fa-plus" aria-hidden="true"></i></span>
					<span>{{ __('New sticker') }}</span>
				</a>
			</div>
			{% endif %}
		</div>
	</header>
	<noscript>
		<section class="section">
			<div class="container">
				<div class="notification is-danger">
					{{ __("Sorry, but this page won't function without JavaScript. Please enable JavaScript to see the sticker map.") }}
				</div>
			</div>
		</section>
	</noscript>
	<section class="map-container">
		<div
			class="map"
			data-geojson-url="{{ controller.link_to_geojson() }}"
			data-create-url="{{ controller.link_to_create() }}"
			data-marker="{{ link_static('images/map_marker.svg') }}"
		>
			<div class="container is-fluid" data-unsupported-message hidden>
				<div class="notification is-danger is-light">
					The sticker map uses WebGL. Please check that you are using a supported browser and that <a href="https://get.webgl.org/" target="_blank" rel="noopener noreferrer" >WebGL is enabled</a>.
				</div>
			</div>
		</div>
		<template data-map-popup-template>
			<div class="card">
				<a class="card-image" target="_new" data-sticker-image hidden>
					<figure>
						<img src="">
					</figure>
				</a>
				<div class="card-content">
					<div class="content">
						<h2 class="title is-6" data-sticker-label hidden></h2>
						<p class="subtitle is-7" data-sticker-user hidden>
							{{ __('Placed by') }} <a data-sticker-user-link></a>	
						</p>
						<p data-sticker-description hidden></p>
						<p class="has-text-grey is-size-7" data-sticker-time hidden>{{ __('Added on') }}&nbsp;</p>
					</div>
				</div>

				<footer class="card-footer" data-sticker-controls hidden>
					<button type="button" class="card-footer-item" data-sticker-delete hidden>
						{{ __('Delete') }}
					</button>
					<button type="button" class="card-footer-item" data-sticker-upload-image hidden>
						{{ __('Add photo') }}
					</button>
				</footer>
			</div>
		</template>
	</section>
</article>
{% endblock %}
