{% extends '@layout/layout.twig' %}

{% block title __('Change password') ~ ' – ' ~ parent() %}

{% block content %}
<h1 class="title">{{ __('Change password') }}</h1>
{% if success is same as(true) %}
	<div class="content">
		<p>{{ __('Your password has been changed.') }}</p>
		<p><a href="sessions.php?view=login" class="button is-primary">{{ __('Log in') }}</a></p>
	</div>
{% else %}
	<form method="post" action="">
		{{ html_nonce('reset', token) }}
		{% if success is same as(false) %}
			<div class="field has-text-danger">
				{% if 'password' in errors %}
					<p>{{ __('Your password is too short or too predictable. Try to make it longer and with more different characters.')}}</p>
				{% endif %}
				{% if 'password_repeat' in errors %}
					<p>{{ __('The two passwords are not the same.') }}</p>
				{% endif %}
			</div>
		{% endif %}

		{% if not success %}
			<div class="field">
				<p>{{ __('Choose a new password. Long passwords are great, passwords with different character types as well.') }}</p>
			</div>
			
			<div class="field">
				{{ html_label(__('New password'), 'password', required=true, errors=errors) }}
				<div class="control">
					{{ html_input_password('password', required=true, errors=errors) }}
				</div>
			</div>

			<div class="field">
				{{ html_label(__('Repeat password'), 'password_repeat', required=true, errors=errors) }}
				<div class="control">
					{{ html_input_password('password_repeat', required=true, errors=errors) }}
				</div>
			</div>
		
			<div class="field">
				<div class="control">
					<button type="submit" class="button is-primary">{{ __('Set password') }}</button>
				</div>
			</div>
		{% endif %}
	</form>
{% endif %}
{% endblock %}