.almanak_alphabet {
	width: 90%;
	table-layout: fixed;
}

.almanak_alphabet td {
	text-align: center;
}

.almanak_navigation {
	width: 99%;
}

.almanak_navigation td.title {
	font-weight: bold;
	white-space: nowrap;
	text-align: right;
}

.almanak_navigation td.alphabet {
	width: 99%;
	font-size: 10px;
}

.almanak_navigation input.text {
	background-color: #ffffff;
}

.almanak {
	width: 99%;
	margin: 0 auto;
	table-layout: fixed;
}

.almanak td {
	text-align: center;
}

.almanak tr td {
	vertical-align: bottom;
	padding-bottom: 15px;
}

.almanak td .name {
	display: block;
}

.almanak .status {
	font-size: 0.8em;
}

.almanak .status-lid-af {
	opacity: 0.3;
}

.almanak .status-lid-af .name {
	text-decoration: line-through;
}