textarea[name="reactie"]
{
	width: 100%;
}

table.navigation {
	width: 99%;
}

table.navigation td {
	width: 33%;
}

table.navigation td:nth-child(1) {
	text-align: left;
}

table.navigation td:nth-child(2) {
	text-align: center;
}

table.navigation td:nth-child(3) {
	text-align: right;
}

.fotoboek_path {
	font-size: 16px;
	line-height: 32px;
	font-weight: bold;
	border-bottom: 1px solid #ccc;
}

.fotoboek_path.original_path {
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	border: none;
}

#photo {
	position: relative;
	display: table;
    margin: 0 auto;
}

#photo .full-size-photo {
	max-width: 100%;
	height: auto;
}

#photo .full-size-photo > img {
	max-width: 100%;
	height: auto;
}

#photo .full-size-photo .high-quality {
	position: absolute;
	top: 0;
	left: 0;
}

.modal > .photo-window #photo .full-size-photo.landscape > img {
	width: auto;
	max-height: calc(100vh - 120px);
}

.modal > .photo-window #photo .full-size-photo.portrait > img {
	width: auto;
	max-height: calc(100vh - 120px);
}

.messageBox .slides {
	width: auto;
	background: #ccc;
	padding: 15px 15px;
	margin: 15px -15px;
	border: 1px solid #ccc;
	border-left: 0;
	border-right: 0;
	list-style: none;
}

.messageBox .slides:after {
	content: '';
	display: block;
	clear: both;
}

.messageBox .slides .slide {
	display: block;
	float: left;
	width: 20%;
	height: 120px;
	padding: 5px 0;
	overflow: hidden;
	text-align: center;
	vertical-align: top;
	overflow: hidden;
}

.messageBox .slides .slide img {
	max-width: 97%;
	width: auto;
	height: auto;
}

.messageBox .slides .slide.current {
	background: #ccc;
	margin: -15px 0;
	padding: 20px 0;
}

.photo-controls a,
.photo-controls a:hover,
.photo-controls label {
	display: inline-block;
	line-height: 20px;
	font-weight: bold;
	color: #004274;
	cursor: pointer;
	padding: 0 1em;
	margin: 2px;
}

.photo-controls a:hover,
.photo-controls label:hover {
	text-decoration: underline;
}

.photo-controls form {
	display: inline;
}

.like-button {
	display: inline-block;
	width: 20px;
	height: 20px;
	color: #004274;
	border: none;
	cursor: pointer;
	line-height: 20px;
	text-align: center;
	font-size: 9px;
	font-weight: normal;
	padding: 0;
	background: transparent url(../images/heart-white.svg) 0 0 / 20px no-repeat;
	color: white;
}

.photo-controls .like-button {
	background-image: url(../images/heart.svg);
	color: #004274;
}

.liked .like-button {
	color: white;
	background-image: url(../images/heart-filled.svg);
}

.photo-controls .photo-download-link:before {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	content: "\f019";
	margin-right: 0.5ch;
}

.toggle input[type=checkbox] {
	display: none;
}

.toggle input[type=checkbox] + label {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #004274;
    cursor: pointer;
    padding: 2px 5px;
    display: inline-block;
}

.toggle:hover input[type=checkbox] + label {
	text-decoration: underline;
}

.toggle input[type=checkbox]:checked + label {
	background: #004274;
	color: white;
	border-radius: 2px;
}

.tag-faces-toggle label:before {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	content: "\f02b";
	margin-right: 0.5ch;
}

.photo-page-header {
	margin-bottom: 10px;
}

.photo-page-header:after {
	content: '';
	display: block;
	clear: both;
}

.button.download-photos-button,
.button.upload-photos-button,
.button.mark-read-button {
	margin: -2px 0 0 2px;
	float: right;
}

.photo-title.editable:hover {
	background: rgb(255,255,125);
	cursor: pointer;
}

.photo-title.editable:empty:after {
	content: 'Click to add title';
	font-style: italic;
}

.photo-edit-control {
	/*display: none;*/
}

.face {
	position: absolute;
	border-radius: 4px;
	border: 2px solid rgba(0, 0, 0, 0.2);
	opacity: 0;
	transition: opacity 100ms;
}

.face:hover {
	z-index: 10;
}

.face:hover,
.face.highlight,
.tagging-enabled .face {
	opacity: 1.0;
}

.tagging-enabled .face {
	cursor: pointer;
	border-color: rgba(0, 0, 0, 0.6);
}

.tagging-enabled .face .tag-label .name[href='#']:hover {
	cursor: pointer;
	color: white;
}

#photo.tagging-enabled {
	cursor: crosshair;
}

.face .delete-button {
	width: 20px;
	height: 20px;
	background: transparent;
	border: none;
	color: white;
	font: 12px sans-serif;
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 0;
	display: block;
}

.face .delete-button:hover {
	background: rgba(0, 0, 0, 0.8);
}

.face .tag-label,
.face .tag-search {
	display: inline-block;
	position: absolute;
	left: 50%;
	bottom: -30px;
	-moz-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	background: rgba(0, 0, 0, 0.8);
	color: white;
	padding: 0 10px;
	border-radius: 4px;
	font: 13px/26px sans-serif;
	z-index: 1;
	white-space: nowrap;
}

.face .tag-label {
	text-align: center;
}

.face .tag-search {
	width: 150px;
	z-index: 2;
}

.face .tag-label a.name {
	display: inline-block;
	white-space: nowrap;
	color: white;
	font-weight: normal;
}

.face .tag-label a.name[href='#'] {
	text-decoration: none;
	cursor: default;
}

.face.untagged .tag-label a.name {
	font-style: italic;
	cursor: pointer;
}

.face .tag-label .suggested-face + a.name {
	display: none;
}

.face .tag-label .button-group {
	display: flex;
	margin: 0 -10px; /* compensate for the padding of .tag-label */
	border-top: 1px solid rgba(255, 255, 255, 0.25);
}

.face .tag-label .button-group button {
	flex: 1 0 auto;
	font: inherit;
	color: white;
	background: rgba(255, 255, 255, 0.0);
	border: 0;
	cursor: pointer;
}

.face .tag-label .button-group button + button {
	border-left: 1px solid rgba(255, 255, 255, 0.25);
}

.face .tag-label .button-group button:hover {
	background: rgba(255, 255, 255, 0.2);
}

.hidden img {
	opacity: 0.5
}

.photobook .visibility {
	display: inline-block;
	vertical-align: bottom;
	overflow: hidden;
	width: 16px;
	height: 16px;
	text-indent: 20px;
	background-repeat: no-repeat;
	background-size: 16px 16px;
}

.visibility-public {
	background-image: url(../images/visibility-public.png);
}

.visibility-members {
	background-image: url(../images/visibility-members.png);
}

.visibility-photocee {
	background-image: url(../images/visibility-photocee.png);
}

#folder-selector {
	width: 100%;
	height: 300px;
	margin-top: 1em;
	background: white;
	border: 1px solid #ccc;
	overflow: auto;
	white-space: nowrap;
}

#folder-selector ol {
	display: inline-block;
	width: 200px;
	height: 100%;
	overflow: hidden;
	overflow-y: auto;
	vertical-align: top;
	border-right: 1px solid #ccc;
	list-style: none;
	margin: 0;
}

#folder-selector li {
	padding: 0 4px;
	line-height: 1.5em;
	display: block;
	user-select:none;
	cursor: default;
}

#folder-selector li.selected {
	background: Highlight;
	color: HighlightText;
}

#photo-selector {
	list-style: none;
	margin: 0;
}

#photo-selector li {
	display: block;
	position: relative;

	padding: 0 4px;
	margin: 4px 0;
	height: 60px;
	border-bottom: 1px solid #ccc;
}

#photo-selector li > * {
	position: absolute;
	line-height: 60px;
}

#photo-selector li .thumbnail {
	top: 0;
	left: 0;
	max-height: 56px;
}

#photo-selector li .add-control {
	top: 0;
	left: 100px;
}

#photo-selector li .add-control a {
	display: inline-block;
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	color: white;
	background: green;
	border-radius: 50%;
}

#photo-selector li .description {
	top: 0;
	left: 140px;
	right: 300px;
}

#photo-selector li .description > input {
	width: 100%;
}

#photo-selector li .filename {
	right: 150px;
	width: 150px;
	overflow: hidden;
	white-space: nowrap;
	text-indent: 4px;
}

#photo-selector li .created-on {
	right: 0;
}

.selection-of-photos {
	display: block;
	text-align: center;
	list-style: none;
	margin: 0;
}

.selection-of-photos > li {
	display: inline-block;
	position: relative;
}

.selection-of-photos > li .photo-caption {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 4px;
	background: rgba(0, 0, 0, 0.8);
	color: white;
	font-weight: normal;
}

.selection-of-photos > li a:hover .photo-caption {
	text-decoration: underline;
}

.selection-of-photos > li .photo-book-year:before {
	content: '(';
}

.selection-of-photos > li .photo-book-year:after {
	content: ')';
}

.comment {
	display: block;
	position: relative;
	min-height: 50px;
	margin-left: 50px;
	padding: 5px 10px;
	border-bottom: 1px solid #ccc;
}

.comment .comment-author {
	
}

.comment .comment-author img,
.comment .comment-author:after {
	position: absolute;
	width: 50px;
	height: 50px;
	top: 10px;
	left: -50px;
	border-radius: 50%;
}

.comment .comment-author:after {
	content: '';
	box-sizing: border-box;
	border: 1px solid rgba(32, 32, 32, 0.25);
}

.comment .comment-meta {
	float: right;
	text-align: right;
	font-size: 0.75em;
}

.comment .comment-meta .number-of-likes:before,
.comment .comment-meta .comment-like-button:before {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	content: "\f087";
	margin-right: 0.5ch;
}

.comment .comment-message {
	word-break: break-word;
}

.comment .comment-message a {
	word-break: break-all;
}

.comment-form {
	margin-left: 60px;	
}


.recent-comment {
	position: relative;
	border-top: 1px solid #ccc;
	padding-top: 16px;
	margin-bottom: 16px;
}

.recent-comment .comment {
	margin-left: 170px;
	margin-bottom: 4px;
	background: white;
	border-radius: 4px;
	border: none;
}

.recent-comment .comment-author img,
.recent-comment .comment-author:after {
	top: 0;
	left: -60px;
}

.recent-comment .comment:before {
	border: 7px solid;
	content: '';
	display: block;
	z-index: 5;
	border-color: transparent #fff transparent transparent;
	position: absolute;
	top: 17.5px;
	right: 100%;
}

.recent-comment .thumbnail img {
	float: left;
	border: 1px solid #ccc;
	max-width: 100px;
	max-height: 65px;
}

.modal > .photo-window {
	max-width: none;
	margin: 20px 60px;
	top: 20px;
}

.modal > .photo-window .photo-title {
	position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    color: white;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    padding: 4px 8px;
    z-index: 10;
}

.modal > .photo-window .photo-title:empty {
	display: none;
}


.modal > .photo-window .photo-navigation {
	display: inline;
}

.modal > .photo-window .photo-navigation .next-button,
.modal > .photo-window .photo-navigation .prev-button {
	position: fixed;
	top: 32px;
	width: 300px;
	bottom: 0;
	overflow: hidden;
	text-indent: 364px;
}

.modal > .photo-window .photo-navigation .next-button:before,
.modal > .photo-window .photo-navigation .prev-button:before {
	position: absolute;
	top: 50%;
	height: 50vh;
	margin-top: -25vh;
	width: 50px;
	text-align: center;
	line-height: 50vh;
	font-size: 20px;
	z-index: 20;
	text-indent: 0;
}

.modal > .photo-window .photo-navigation a {
	color: white;
    font-weight: normal;
}

/*
.modal > .photo-window .photo-controls .next-button,
.modal > .photo-window .photo-controls .prev-button {
	display: none;
}
*/

@media(min-width: 1100px) {
	.modal > .photo-window > div {
		margin-right: 280px;
	}

	.modal > .photo-window .photo-title {
		right: 300px;
	}

	.modal > .photo-window .photo-meta {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: 260px;
		padding: 24px 10px 10px 10px;
		border-left: 1px solid #ccc;
		overflow-x: hidden;
		overflow-y: auto;
	}
}

.modal > .photo-window .photo-meta .photo-faces {
	margin-top: 0;
	padding-bottom: 6px;
	border-bottom: 1px solid #ccc;
}

.modal > .photo-window .photo-meta .photo-faces a {
	font-weight: normal;
}

.modal > .photo-window .photo-meta .photo-controls {
	padding-bottom: 4px;
	border-bottom: 1px solid #ccc;
}

.modal > .photo-window .photo-meta h2 {
	font-size: inherit;
}

.modal > .photo-window .photo-meta .comment .comment-meta {
	float: none;
	text-align: left;
	font-size: 0.75em;
}

.modal > .photo-window .photo-meta .comment-form {
	margin-top: 10px;
	margin-left: 0;
}

.modal > .photo-window .photo-meta .comment-form textarea {
	border: 1px solid #ccc;
	font: inherit;
	resize: vertical;
}

.modal > .photo-window .photo-page-header {
    position: fixed;
    top: 14px;
    left: 100px;
    right: 100px;
    text-align: center;
    z-index: 10;
    color: white;
}

.modal > .photo-window .fotoboek_path {
    font-size: inherit;
    font-weight: normal;
    line-height: 1em;
    border: none;
}

.modal > .photo-window .fotoboek_path a,
.modal > .photo-window .fotoboek_path a:visited {
    color: inherit;
    font-weight: inherit;
}