table.markup_default {
	width: 99%;
	border-collapse: collapse;
}

table.markup_default td {
	border: 1px solid #8486a1;
	padding: 3px;
	vertical-align: top;
}

table.markup_noborder {
	width: 99%;
}

table.markup_noborder td {
	padding: 3px;
	vertical-align: top;
}

table.markup_default td h3, table.markup_noborder td h3 {
	margin-top: 0px;
}

div.code {
	background-color: #ffffff;
	padding: 3px;
	border: solid 1px #a0a0a0;
	font-family: courier, courier new, monospace;
	overflow: auto;	
}

div.quote {
	background-color: #ffffff;
	padding: 3px;
	margin: 3px;
	border: solid 1px #a0a0a0;
	color: #555;
	overflow: auto;
	font-style: italic;
}

div.quote span.author {
	font-weight: bold;
}
