div.notebook {
}

div.notebook div.notebook_contents {
	border: 1px solid #646ff9;
	border-bottom: 1px solid #646ff9;
	border-right: 1px solid #646ff9;
	padding: 5px;
}

div.notebook ul.notebook {
	margin: 0;
	margin-bottom: 3px;
	padding: 0;
}

div.notebook ul.notebook li, div.notebook ul.notebook li.selected  {
	display: inline;
	border: 1px solid #646ff9;
	border-right: 1px solid #bbc0ff;
	margin: 0;
	padding: 3px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 11px;
	background-color: #fff392;
}

div.notebook ul.notebook li.selected {
	background-color: #ffffff;
	border-bottom: 1px solid #ffffff;
	border-top: 2px solid #ed8b1b;
	padding-top: 5px;
}

div.notebook_page {
	display: none;
}
