<div class="level">
    <div class="level-left">
        <h1 class="title">{{ editable.get_title }}</h1>
    </div>
    {% if user_can_update editable %}
        <div class="buttons level-right">
            <a href="{{ link('editable.update', editable=editable) }}" class="button">
                <span class="icon is-small">
                    <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                </span>
                <span>
                    {{ __('Modify page') }}
                </span>
            </a>
        </div>
    {% endif %}
</div>
<div class="content" id="page_{{ editable.id }}">
	{{ editable.locale_content|parse_markup }}
</div>