{% extends '@layout/layout.twig' %}

{% block title __('Delete calendar event') ~ ' – ' ~ parent() %}

{% block content %}
<h1 class="title">{{ __('Delete event') }}</h1>
<form method="post" action="{{ controller.link_to_delete(iter) }}">
	{{ html_nonce('delete', iter) }}
    <div class="field">
    	<p>{{ __('Are you certain you want to delete the event <em>%s</em>?')|format(iter.kop|e('html'))|raw }}</p>
    </div>
	<div class="field">
        <div class="control buttons">
    		<button type="submit" class="button is-danger">{{ __('Delete event')  }}</button>
    		<a href="{{ controller.link_to_read(iter) }}" class="button">{{ __('Back to event') }}</a>
        </div>
	</div>
</form>
{% endblock %}