{% extends '@layout/layout.twig' %}

{% block title 'Committee Battle' ~ ' – ' ~ parent() %}

{% block content %}
{% set editable = global.models.Editable.get_iter_from_title('committee_battle') %}

<div class="level">
	<div class="level-left">
		<h1 class="title">{{ __('Committee Battle') }}</h1>
	</div>
	<div class="level-right buttons">
		{% if editable is not same as(null) and user_can_update editable %}
			<a href="{{ link('editable.update', editable=editable)|e('html_attr') }}" class="button">{{ __('Update description') }}</a>
		{% endif %}
		{% if user_can_create model.new_iter %}
			<a href="{{ controller.link_to_create()|e('html_attr') }}" class="button">{{ __('Award points') }}</a>
		{% endif %}
	</div>
</div>

{% if editable is not same as(null) %}
	<article>
		<div class="content">
			{{ editable.locale_content|parse_markup }}
		</div>
	</article>
{% endif %}

<article>
	<table class="table is-fullwidth">
		<thead>
			<tr>
				<th>{{ __('Rank') }}</th>
				<th>{{ __('Committee') }}</th>
				<th>{{ __('Points') }}</th>
			</tr>
		</thead>
		<tbody>
			{% for committee in iters %}
			<tr>
				<td>{{ committee.position }}</td>
				<td>
					<a href="commissies.php?commissie={{ committee.login|e('url') }}">{{ committee.naam }}</a>
					{% for member in committee.members %}
						<a href="{{ link('profiel.read', member=member)|e('html_attr') }}" class="image is-16x16 is-inline-block">
							<img  class="is-rounded" src="{{ link('foto.square', member=member, width=50)|e('html_attr') }}" width="25" title="{{ member|personal_full_name }}">
							<span class="is-sr-only">{{ member|personal_full_name }}</span>
						</a>
					{% endfor %}
				</td>
				<td><a href="{{ controller.link_to_read(committee)|e('html_attr') }}">{{ committee.score }}</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</article>

{% endblock %}