{# <section class="hero is-primary" data-photos="{{ view.layout.committee_battle_photos|json_encode()|e('html_attr') }}">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1">{{ __('Committee Battle') }}</h1>
            <p class="subtitle is-2">{{ __('Battle your way to the top!') }}</p>
            <a href="committeebattle.php" class="button is-primary is-inverted is-outlined is-large">{{ __('Take part!') }}</a>
        </div>
    </div>
</section> #}
