<footer>
    {% if render_sponsors is not defined or render_sponsors %}
        {{ include('@layout/widgets/partners.twig') }}
    {% endif %}
    <div class="footer footer-main">
        <ul>
        {% spaceless %}
            <li>
                <a href="show.php?id=17">{{ __('Contact') }}</a>
            </li>
            <li class="divider" role="separator"></li>
            <li>
                <a href="//sd.svcover.nl/Privacy%20Statement/Privacy%20statement.pdf">{{ __('Privacy statement') }}</a>
            </li>
            <li class="divider" role="separator"></li>
            <li>
                <a href="https://bitbucket.org/cover-webcie/cover-php/issues">{{ __('Report a bug')}}</a>
            </li>
            <li class="divider" role="separator"></li>
            <li>
                <a href="https://old.svcover.nl{{ global.server.REQUEST_URI }}">{{ __('Old website')}}</a>
            </li>
        {% endspaceless %}
        </ul>
    </div>
</footer>
