{# <section class="hero is-primary">
	<div class="background background-0 current"></div>
	<div class="background background-1"></div>
	<div class="background background-3"></div>
	<div class="background background-4"></div>
	<div class="background background-5"></div>
	<div class="hero-body">
		<div class="container">
			<h1 class="title is-1">{{ __('Become a member') }}</h1>
			<p class="subtitle is-2">{{ __('For books, career and fun.') }}</p>
			<a href="lidworden.php?utm_source=svcover.nl&amp;utm_medium=banner&amp;utm_campaign=member%20registration" class="button is-primary is-inverted is-outlined is-large">{{ __('Join now!') }}</a>
		</div>
	</div>
</section>

<script>
	var slides = jQuery(".promotional-header .background"),
		currentSlide = 0;

	setInterval(function() {
		currentSlide = (currentSlide + 1) % slides.length;
		slides.removeClass("current");
		slides.eq(currentSlide).addClass("current");
	}, 3500);
</script> #}