<form class="navbar-item search-form" action="search.php" method="get">
    <div class="field has-addons">
        <div class="control is-expanded">
            <label for="menu-search-query" class="is-sr-only">{{ __('Search query') }}</label>
            <input class="input" type="search" id="menu-search-query" name="query" placeholder="{{ __('Type here to search…') }}" accesskey="s">
        </div>
        <div class="control">
            <button class="button" type="submit">
                <span class="icon">
                    <i class="fas fa-search"></i>
                    <span class="is-sr-only">{{ __('Search') }}</span>
                </span>
            </button>
        </div>
    </div>
</form>
