{% macro login_form(errors = [], error_message = null, referrer = null, external_domain = null) %}
<div>
    <form id="login-form" method="post" action="{{ link('sessions.login') }}">
        {% if error_message %}
        <div class="error-section">
            <p>{{ error_message }}</p>
        </div>
        {% endif %}

        {% if referrer %}
            {{ html_input_hidden('referrer', referrer) }}
        {% endif %}
        <div class="field">
            {{ html_label(__('E-mail address'), 'email', errors=errors, required=true) }} 
            <div class="control">
                {{ html_input_text('email', null, placeholder=__('E-mail address'), autofocus=true) }}
            </div>
        </div>

        <div class="field">
            {{ html_label(__('Password'), 'password', errors=errors, required=true) }}
            <div class="control">
                {{ html_input_password('password', placeholder=__('Password')) }}
            </div>
        </div>

        <div class="field">
            <div class="control">
                {{ html_input_checkbox('remember', {'remember': 'yes'}, value='yes', label=__('Keep me logged in'), errors=errors) }}
            </div>
        </div>

        <div class="field">
            <div class="control">
                <button type="submit" class="button is-primary is-fullwidth">
                    {{ __('Log in') }}
                    {% if external_domain %}
                        <small>{{ __('and continue to %s')|format(external_domain) }}</small>
                    {% endif %}
                </button>
            </div>
        </div>
    
        <div class="field">
            <a href="wachtwoordvergeten.php">{{ __('Forgot your password?') }}</a>
        </div>
    </form>
    <div class="divider is-fullwidth">{{ __('or') }}</div>
    <a class="button is-fullwidth" href="/lidworden.php">Become a member</a>
</div>
{% endmacro %}
