<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=9">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ __('Log in') }} – Cover</title>
        {% for stylesheet in view.stylesheets %}
        <link rel="stylesheet" href="{{ stylesheet }}" type="text/css">
        {% endfor %}
    </head>
    <body class="has-navbar-fixed-top">
        <nav class="navbar is-fixed-top is-cover" role="navigation" aria-label="main navigation">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="/">
                        <img class="cover-logo" src="{{ link_static('images/cover_logo.png') }}" alt="Cover">
                    </a>
                </div>
            </div>
        </nav>

        <section class="section">
            <div class="container columns is-centered">
                <div class="column is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-third-fullhd">
                    <article class="box">
                        <h1 class="title">{{ __('Log in') }}</h1>

                        {% from '@theme/sessions/_login_widget.twig' import login_form %}

                        {{ login_form(errors, error_message, referrer, external_domain) }}
                    </article>
                </div>
            </div>
        </section>
    </body>
</html>
