{% extends '@layout/layout.twig' %}

{% block title %}
	{{ __('Impersonate a user') }} – {{ parent() }}
{% endblock %}

{% block content %}
<div class="modal is-static">
	<div class="modal-card">
		<form method="post" class="session-overrides-form" action="{{ link('sessions.overrides') }} ">
			{{ html_nonce('session_overrides') }}
			{{ html_input_hidden('referrer', referrer) }}
			<header class="modal-card-head">
				<p class="modal-card-title">{{ __('Impersonate a user') }}</p>
			</header>
			<section class="modal-card-body">
				<div class="field">
					{{ html_input_checkbox('override_committees', {'override_committees': global.identity.get_override_committees() is not same as(null) }, class='switch is-rounded is-full-width is-rtl', data_target='#override-committees-fieldset') }}
				  	<label for="field-override_committees">{{__('Override committee memberships')}}</label>
				</div>
				<fieldset class="fieldset" id="override-committees-fieldset">
					<legend>
						{{ __('Committees') }}
					</legend>
					<ul class="columns-vertical has-2-mobile has-3-tablet is-gapless">
						{% for committee in committees %}
						<li class="column control">
							{{ html_input_checkbox('override_committee_ids[]', {override_committee_ids: global.identity.get_override_committees()}, value=committee.id, id='field-override-committee-' ~ committee.id, label=committee.naam) }}
						</li>
						{% endfor %}
					</ul>
				</fieldset>
				
				<div class="field">
					{{ html_input_checkbox('override_member', {'override_member': global.identity.get_override_member() is not same as(null) }, class='switch is-rounded is-full-width is-rtl', data_target='#override-member-fieldset') }}
				  	<label for="field-override_member">{{__('Override member')}}</label>
				</div>
				<fieldset class="fieldset" id="override-member-fieldset">
					<legend>{{__('Member')}}</legend>

					<div class="field">
						{{ html_label(__('Member name'), 'override_member_id', class="is-sr-only") }}
						<div class="control">
							{{ html_input_text('override_member_id', {'override_member_id': global.identity.get_override_member() ? global.identity.get_override_member().id : null}, data_autocomplete='member_id', data_name=global.identity.get_override_member() ? global.identity.get_override_member().full_name : null) }}
						</div>
					</div>
				</fieldset>
			</section>
			<footer class="modal-card-foot">
				<button type="submit" class="button is-primary">{{ __('Apply') }}</button>
			</footer>
		</form>
	</div>
</div>
{% endblock %}