{% extends '@layout/layout.twig' %}

{% block title iter.naam ~ ' – ' ~ __('Mailing lists') ~ ' – ' ~ parent() %}

{% block content %}
<header class="block">
	<nav class="level is-mobile">
		<div class="level-left">
			<a href="{{ controller.link_to_index()|e('html_attr') }}" class="level-item button">
				<span class="icon"><i class="fas fa-arrow-left" aria-hidden="true"></i></span>
				<span class="is-hidden-mobile">{{ __('Back to mailing lists') }}</span>
				<span class="is-hidden-tablet">{{ __('Back') }}</span>
			</a>
		</div>
		{% if user_can_update iter %}
			<div class="level-right buttons">
				<a href="{{ controller.link_to_update(iter)|e('html_attr') }}" class="button">
					{{ __('Modify mailing list') }}
				</a>
			</div>
		{% endif %}
	</nav>
	<h1 class="title">{{ iter.naam }}</h1>
	<p class="subtitle">{{ iter.adres }}</p>
	<p>
		{{ iter.omschrijving|parse_markup }}
	</p>
</header>
<div class="tabs-wrapper" data-history>
<div class="tabs">
	<ul>
	    <li {% if active_tab is not defined or active_tab == 'subscriptions' %}class="is-active"{% endif %}>
	    	<a href="{{ controller.link_to_read(iter)|e('html_attr') }}#mailing-list-subscriptions">{{ __('Subscriptions') }}</a>
	    </li>
	    <li {% if active_tab is not defined or active_tab == 'statistics' %}class="is-active"{% endif %}>
	    	<a href="{{ controller.link_to_read(iter)|e('html_attr') }}#mailing-list-statistics">{{ __('Statistics') }}</a>
	    </li>
	    <li {% if active_tab is not defined or active_tab == 'archive' %}class="is-active"{% endif %}>
	    	<a href="{{ controller.link_to('archive_index', iter)|e('html_attr') }}#mailing-list-archive">{{ __('Message archive') }}</a>
	    </li>
	</ul>
</div>
<div class="tabs-content">
	{% block tab_content %}{% endblock %}
</div>
</div>
{% endblock %}
