{% extends '@layout/layout.twig' %}

{% block title (iter.has_id ? __('Modify mailing list') : __('New mailing list')) ~ ' – ' ~ parent() %}

{% block content %}
<h1 class="title">{{ iter.has_id ? __('Modify mailing list') : __('New mailing list') }}</h1>
<form method="post" action="{{ view.get_form_action(iter) }}">
	{% if iter.has_id %}
		{{ html_nonce('update', iter) }}
	{% else %}
		{{ html_nonce('create', iter) }}
	{% endif %}

	<div class="field">
		{{ html_label(__('List email address'), 'adres', errors=errors)  }}
		<div class="control">
			{{ html_input_text('adres', iter, type='email', placeholder=__('e.g. listname@svcover.nl'), errors=errors) }}
		</div>
	</div>
	<div class="field">
		{{ html_label(__('Type'), 'type', errors=errors) }}
		<div class="control">
			<div class="select">
				{{ html_select_field('type', view.type_options, iter, errors=errors, required=true) }}
			</div>
		</div>
		<p class="help">{{ __('What type of list is this?') }}</p class="help">
	</div>
	<div class="field">
		{{ html_label(__('Access'), 'toegang', errors=errors) }}
		<div class="control">
			<div class="select">
				{{ html_select_field('toegang', view.toegang_options, iter, errors=errors, required=true) }}
			</div>
		</div>
		<p class="help">{{ __('Who can send emails to this list?') }}</p class="help">
	</div>
	<div class="field">
		{{ html_label(__('Committee'), 'commissie', errors=errors) }}
		<div class="control">
			<div class="select">
				{{ html_select_field('commissie', view.committee_options, iter, errors=errors, required=true)  }}
			</div>
		</div>
		<p class="help">{{ __('Which committee may subscribe and unsubscribe people to this list?') }}</p class="help">
	</div>
	<div class="field">
		{{ html_label(__('Name'), 'naam', errors=errors) }}
		<div class="control">
			{{ html_input_text('naam', iter, errors=errors) }}
		</div>
	</div>
	<div class="field">
		{{ html_label(__('Description'), 'omschrijving', errors=errors) }}
		<div class="control">
			{{ html_textarea_field('omschrijving', iter) }}
		</div>
	</div>
	<div class="field">
		{{ html_label(__('Tag'), 'tag', errors=errors) }}
		<div class="control">
			{{ html_input_text('tag', iter.data ? iter : {'tag': 'Cover'}, errors=errors)  }}
		</div>
		<p class="help">{{ __('Puts \'[<tag>]\' before the email subject, leave blank for none.') }}</p class="help">
	</div>
	<div class="field">
		<div class="control">
			{{ html_input_checkbox('publiek', iter, label=__('People can subscribe themselves to this list.')) }}
		</div>
		<p class="help">{{ __('This makes the list show up in the mailing list tab of the profile page.') }}</p class="help">
	</div>
	<div class="field">
		<div class="control">
			{{ html_input_checkbox('has_members', iter.data ? iter : {'has_members': 'yes'}, label=__('Contains members.')) }}
		</div>
		<p class="help">{{ __('Opt-in: members can opt-in for this list. Opt-out: all members are subscribed by default.') }}</p class="help">
	</div>
	<div class="field">
		<div class="control">
			{{ html_input_checkbox('has_contributors', iter, label=__('Contains contributors.')) }}
		</div>
		<p class="help">{{ __('Opt-in: contributors can opt-in for this list. Opt-out: all contributors are subscribed by default.') }}</p class="help">
	</div>
	<div class="field">
		{{ html_label(__('Starting year'), 'has_starting_year', errors=errors) }}
		<div class="control">
			{{ html_input_text('has_starting_year', iter, errors=errors) }}
		</div>
		<p class="help">{{ __('Opt-in: only people from this year can opt-in. Opt-out: everybody from this year is subscribed by default. Leave blank for none.') }}</p class="help">
	</div>
	{% if iter.has_id %}
	<div class="field">
		<p class="label">{{ __('Automatic emails') }}</p>
		<div class="content">
			{% if iter.sends_email_on_subscribing %}
				<p>{{ __('This mailing list sends everyone who is added or adds theirselves an email automatically.') }} <a href="{{ controller.link_to_update_autoresponder(iter, 'on_subscription') }}">{{ __('Modify message') }}</a></p>
			{% elseif iter.type == constant('DataModelMailinglist::TYPE_OPT_IN') %}
				<p><a href="{{ controller.link_to_update_autoresponder(iter, 'on_subscription') }}">{{ __('Configure a message to send automatically when someone is subscribed to this list.') }}</a></p>
			{% endif %}

			{% if iter.sends_email_on_first_email %}
				<p>{{ __('This mailing list sends an automatic response on your first email to this mailing list when you are not a member of the list.') }} <a href="{{ controller.link_to_update_autoresponder(iter, 'on_first_email') }}">{{ __('Modify message') }}</a></p>
			{% else %}
				<p><a href="{{ controller.link_to_update_autoresponder(iter, 'on_first_email') }}">{{ __('Configure an automatic response on the first message someone sends to the mailing list (while not a member of said list).') }}</a></p>
			{% endif %}
		</div>
	</div>
	{% endif %}
	<div class="field">
		<div class="control">
			<button class="button is-primary" type="submit">{{ iter.has_id() ? __('Modify mailing list') : __('Create mailing list') }}</button>
		</div>
	</div>
</form>
{% endblock %}
