{% extends '@layout/layout.twig' %}

{% block title __('Subscribe a member') ~ ' – ' ~ parent() %}

{% block content %}
<div class="modal is-static">
	<div class="modal-card">
		<form method="post" action="{{ controller.link_to('subscribe_member', list)|e('html_attr') }}">
			{{ html_nonce('subscribe_member', list) }}
			<header class="modal-card-head">
				<p class="modal-card-title">{{ __('Add member') }}</p>
			</header>
			<section class="modal-card-body">
				<div class="field">
					{{ html_label(__('Member'), 'member_id') }}
					<div class="control">
						{{ html_input_text('member_id', [], autofocus=true, data_autocomplete='member_id') }}
					</div>
				</div>
			</section>
			<footer class="modal-card-foot">
				<a href="{{ controller.link_to_read(list)|e('html_attr') }}" class="button" data-dismiss="modal">{{ __('Cancel') }}</a>
				<button type="submit" class="button is-primary">{{ __('Subscribe') }}</button>
			</footer>
		</form>
	</div>
</div>
{% endblock %}