{% from '@theme/fotoboek/_photos.twig' import gallery %}

<h2 class="title is-5">
	<a href="{{ result.absolute_url|e('html_attr') }}" data-search-main-link>
		{{ result.titel }}
	</a>
	<small>
		{{ result.date|date('Y, M j') }}
	</small>
</h2>
<p class="subtitle is-7">
	{{ __('Photo album in %s')|format('<a href="fotoboek.php?book=%d">%s</a>'|format(
			result.parent.id, result.parent.titel|e('html')))|raw }}
</p>
{% if result.num_photos > 0 %}
	<p class="is-sr-only">{{ view.photobook_summary(result) }}</p>
	<div class="search-photos">
		{{ gallery(result.get_photos[0:10], {'book': result}) }}
	</div>
{% else %}
	<p class="content">{{ view.photobook_summary(result) }}</p>
{% endif %}
