<h2 class="title is-5">
	<a href="{{ result.absolute_url|e('html_attr') }}" data-search-main-link>{{ result.name }}</a>
</h2>
{% if not result.has_profile_visible %}
    <p class="subtitle is-7">{{ __('Partner') }}</p>
{% else %}
    <p class="subtitle is-7">{{ __('Company Profile') }}</p>
    <div class="content">
        {% set content = result.profile|strip_markup|excerpt(query_parts, 150) %}
        {% if content %}
            {{ content|raw }}
        {% else %}
            {% spaceless %}
                {{ result.profile|strip_markup|slice(0, 150) }}
                {% if result.profile|strip_markup|length > 150 %}
                    <span class="glue">…</span>
                {% endif %}
            {% endspaceless %}
        {% endif %}
    </div>
{% endif %}
