{% from '@theme/agenda/macros.twig' import format_period_short %}
<h2 class="title is-5">
	<a href="{{ result.absolute_url|e('html_attr') }}" data-search-main-link>{{ result.kop }}</a>
    <small>
        {{ result.van|date('Y, M j') }}
    </small>
</h2>
<p class="subtitle is-7">
    {% if result.extern %}
        {{ __('External activity from %d')|format(result.van|date('Y')) }}
    {% elseif result.committee %}
        {% set committee_link = '<a href="commissies.php?commissie=%s">%s</a>'|format(
            result.committee.login|e('url'),
            result.committee.naam|e('html')) %}
        {{ __('Activity by %s from %d')|format(committee_link, result.van|date('Y')|e('html'))|raw }}
    {% else %}
        {{ __('Activity from %d')|format(result.van|date('Y')) }}
    {% endif %}

</p>
<ul class="search-result-meta is-size-7">
{% spaceless %}
    <li class="property" title="{{ __('Date & time') }}">
        <span class="icon is-small is-size-7"><i class="fas fa-calendar-day" aria-hidden="true"></i></span>
        <strong class="is-sr-only">{{ __('Date & time') }}</strong>
        {{ format_period_short(result) }}
    </li>
    {% if result.locatie %}
        <li class="divider" role="separator"></li>
        <li class="property is-truncated" title="{{ __('Location') }}">
            <span class="icon is-small is-size-7"><i class="fas fa-map-marker-alt" aria-hidden="true"></i></span>
            <strong class="is-sr-only">{{ __('Location') }}</strong>
            {{ result.locatie }}
        </li>
    {% endif %}
{% endspaceless %}
</ul>
<div class="content">
    {{ result.beschrijving|strip_markup|excerpt(query_parts, 50)|raw  }}
</div>
