{% extends '@layout/layout.twig' %}

{% block title __('Search') ~ ' – ' ~ parent() %}

{% block content %}
<h1 class="title">{{ __('Search') }}</h1>
<div class="media block">
	<form method="get" action="search.php" class="media-content">
		<div class="field has-addons">
			<div class="control is-expanded">
				<label for="field-query" class="is-sr-only">{{ __('Search query') }}</label>
				<input class="input is-medium" type="search" name="query" id="field-query" value="{{ query|e('html_attr') }}" placeholder="{{ __('Type here to search…')|e('html_attr') }}" tabindex="1" {% if not results %}autofocus{% endif %}>
			</div>
			<div class="control">
				<button class="button is-medium" type="submit">
	                <span class="icon">
	                    <i class="fas fa-search"></i>
	                    <span class="is-sr-only">{{ __('Search') }}</span>
	                </span>
	            </button>
			</div>
		</div>
	</form>
</div>

{% if results is not null %}
<div class="search-results">
	<div class="block">
		<p>{{ __N('%d result', '%d results', results|length) }}</p>
		{% if errors %}
			<p>{{ __N('Results from the %s category are missing due to errors.', 'Results from the categories %s are missing due to errors.', errors|human_join, errors|length) }}<x/p>
		{% endif %}
	</div>
	{% for result in results %}
		<section data-search-relevance="{{ '%0.2F'|format(result.search_relevance) }}" class="media search-result">
			<div class="media-content">
				{{ include('_single_' ~ result.search_type ~ '.twig', {result: result, query:query}) }}
			</div>
		</section>
	{% endfor %}
</div>
{% endif %}
<!--
	{% for category, time in timings %}
		{{ category }} {{ (time * 1000)|round(2) }}ms
	{% endfor %}
-->
{% endblock %}
