{% extends 'tab.twig' %}

{% set active_tab = 'incassomatic' %}

{% block tab_content %}
<article class="content">
	<h2 class="title is-4">{{ __('Incass-o-matic') }}</h2>
	<p><em>{{ __('You do not yet have a continuous direct debit contract.') }}</em></p>

	<p>{{ __("With a continuous direct debit contract, you no longer have to print and sign direct debit forms. No more going to the printer after buying new credits in KAST!") }}</p>

	<p>
    {% if treasurer_link %}
        {{ __("Download the contract, sign it, and hand it to the treasurer, %s, or deliver it to the mailbox in the Cover room.")|e|format(treasurer_link)|raw }}
    {% else %}
        {{ __("Download the contract, sign it, and hand it to the treasurer, or deliver it to the mailbox in the Cover room.") }}
    {% endif %}
    </p>

	<p class="has-text-centered">
		<a href="profiel.php?view=export_incassocontract&amp;lid={{ iter.id|e('url') }}" class="button is-large" target="_blank">{{ __('Download contract') }}</a>
	</p>

	<p>{{ __("As soon as your contract has been processed, you can view your direct debits here every moment of the day. Both freshly created direct debit transactions as well as already debited ones will be displayed here.") }}</p>
</article>
{% endblock %}