{% set commissioner = view.commissioner_of_internal_affairs %}

{% macro interest_button(committee) %}
	{% if global.identity.is_member and not global.identity.member_in_committee(committee.id) %}
		<form action="{{ controller.link_to('show_interest', committee) }}" method="post">
			{{ html_nonce('show_interest', committee) }}
			<button type="submit" class="button is-outlined">{{ __('I’m interested!') }}</button>
		</form>
	{% endif %}
{% endmacro %}


{% from _self import interest_button %}
<div class="notification">
	<button class="delete"></button>
	{% if commissioner %}
		<div class="columns is-vcentered">
			<a href="profiel.php?lid={{ commissioner.id }}" class="column is-narrow has-text-centered-mobile">
				<figure class="image is-64x64 is-centered">
					<img class="is-rounded" width="64" height="64" src="{{ link('foto.square', member=commissioner, width=256) }}" alt="{{ __('Photo of %s')|format(commissioner|full_name) }}">
				</figure>
			</a>
			<div class="column has-text-centered-mobile">
				{% if iter.has_vacancy_deadline %}
				<p>{{ __("Hey! This committee is looking for new members.\nAre you interested? Tell your Commissioner of Internal Affairs, %s (intern@svcover.nl)")|format(commissioner.voornaam) }}</p>
				{% else %}
				<p>{{ __("Hey! This committee is looking for new members. Are you interested?\nTell your Commissioner of Internal Affairs, %s (intern@svcover.nl) <strong>before %s</strong>")|format(commissioner.voornaam|e('html'), iter.vacancies|date('l j F'))|raw }}
				{% endif %}
			</div>
			<div class="column is-narrow has-text-centered-mobile">
				{{ interest_button(iter) }}
			</div>
		</div>
	{% else %}
		<div class="columns is-vcentered">
			<div class="column has-text-centered-mobile">
				<p>{{ __("Hey! This committee is looking for new members. Are you interested?\nTell your Commissioner of Internal Affairs by e-mailing to intern@svcover.nl.") }}</p>
			</div>
			<div class="column is-narrow has-text-centered-mobile">
				{{ interest_button(iter) }}
			</div>
		</div>
	{% endif %}
</div>
