{% extends '@layout/layout.twig' %}

{% block content %}
<h1 class="title">{{ __('Confirm email address') }}</h1>
<article class="content">
	<p>{{ __('Your confirmation link is no longer valid. Your account has probably already been activated.') }}</p>
	<p>{{ __('By now you should have received a long and informative email about Cover, and at the bottom of that email there is a link to set your password. If you can\'t find the email, you can <a href="%s">reset your password</a>.')|format('wachtwoordvergeten.php')|raw }}</p>
</article>
{% endblock %}