{% extends '@layout/layout.twig' %}

{% block title __('Sign-ups') ~ ' – ' ~ parent() %}

{% block page %}
<section class="section signup-entries">
<div class="container">

<header class="level">
	<div class="level-left">
		<h1 class="title">{{ __('Sign-ups') }}</h1>
	</div>
	<div class="level-right buttons">		
		{% if user_can_create form.new_entry(global.identity.member) %}
			<a href="{{ controller.link({'view': 'create_entry', 'form': form.id, 'action': 'modal'}) }}" class="button" data-popup="modal">{{ __('New sign-up') }}</a>
		{% endif %}
		{% if user_can_update form %}
			<a href="{{ controller.link({'view': 'update_form', 'form': form.id}) }}" class="button">{{ __('Modify form') }}</a>
		{% endif %}
		<a href="{{ controller.link({'view': 'export_entries', 'form': form.id}) }}" class="button">{{ __('Download as CSV') }}</a>
	</div>
</header>

{% if user_can_update form %}
	<article class="block">
		<p>
			{{ __N('There is currently %d sign-up.', 'There are currently %d sign-ups.', form.entries|length) }}
			{% if form.participant_limit %}
				{{ __N('There is %d spot available.', 'There are %d spots available.', form.participant_limit - form.entries|length) }}
			{% else %}
				{{ __('There no participant limit.') }}
			{% endif %}
		</p>
	</article>
{% endif %}

<article class="block">
	<form action="{{ controller.link({view: 'delete_entries', form: form.id}) }}" method="post">
		{{ html_nonce('delete_entries', form) }}
		<div class="table-container">
			<table class="signup-entries-table table is-fullwidth is-hoverable">
				<thead>
					<tr>
						<th class="is-sticky">
							<input type="checkbox" onchange="Array.from(this.form.querySelectorAll('input[type=checkbox]')).forEach(cb => cb.checked = this.checked)">
						</th>
						<th>#</th>
						{% for field in form.fields %}
							{% for column in field.column_labels|values %}
								<th class="column-field-type-{{field.type}} is-truncated" title="{{ column|capitalize }}"><span>{{ column|capitalize }}</span></th>
							{% endfor %}
						{% endfor %}
						<th class="is-nowrap">Sign-up date</th>
						<th class="is-sticky is-right"></th>
					</tr>
				</thead>
				<tbody>
					{% for entry in form.entries %}
						{% if user_can_read entry %}
							<tr>
								<td class="is-sticky"><input type="checkbox" name="entries[]" value="{{ entry.id }}"></td>
								{% if user_can_update entry %}
									<td><a href="{{ controller.link({'view': 'update_entry', 'entry': entry.id}) }}">{{ loop.index }}</a></td>
								{% else %}
									<td>{{ loop.index }}</td>
								{% endif %}
								{% for column, value in entry.export %}
									<td class="is-truncated" title="{{value}}"><span>{{ value }}</span></td>
								{% endfor %}
								<td class="is-sticky is-right has-text-right is-vcentered">
									{% if user_can_update entry %}
										<a href="{{ controller.link({'view': 'update_entry', 'entry': entry.id, 'action': 'modal'}) }}" data-popup="modal" title="{{ __('Edit sign-up') }}">
											<span class="icon is-small">
												<i class="fas fa-pencil-alt" aria-hidden="true"></i>
											</span>
											<span class="is-sr-only">
												{{ __('Edit sign-up') }}
											</span>
										</a>
									{% endif %}
								</td>
							</tr>
						{% endif %}
					{% else %}
						<tr>
							<td colspan="{{ form.fields|length + 4}}" class="has-text-centered has-text-grey">
								{{ __('No sign-ups :(') }}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="field">
			<div class="contol buttons">
				<button type="submit" class="button is-danger">{{ __('Remove selected sign-ups') }}</button>
			</div>
		</div>
	</form>
</article>
</div>
</section>
{% endblock %}