body {
	background-color: #ffffff; 
	font-family: verdana, sans, "sans serif";
	margin: 0 !important;
	padding: 20px;
	font-size: 12px;
}

table tr.header {
	font-weight: bold;
	font-size: 18px;
}

table.boeken {
	border-collapse: collapse;
	width: 100%;	
}

table.boeken td {
	border: 1px solid #8486a1;
	padding: 5px;
}

table.boeken tr.r1 td {
	background-color: #efefef;
}

.text_right {
	text-align: right;
}

.italic {
	font-style: italic;
}
