/* TAG STYLING, ALPHABETICALLY */

.old a[class*="buttonNew"] { background:url("images/new.png") no-repeat scroll left center; padding-left:26px; margin:0px 3px; display:block; line-height: 24px; min-height:24px; }
.old a[class*="buttonSearch"] { background:url("images/search.png") no-repeat scroll left center; padding-left:26px; margin:0px 3px; display:block; line-height: 24px; min-height:24px; }

.old a,
.old a:visited,
.old button.link {
	/*color: #F5F5F5;*/
	background: transparent;
	border: none;
	font: inherit;
	font-weight:bold;
	cursor: pointer;
	text-decoration:underline;
}

.old a:hover,
.old button.link:hover
{
	text-decoration: none;

}
.old .messageBox a,
.old .messageBox a:visited,
.old .messageBox button.link,
.old .buttons a,
.old .buttons a:visited,
.old .buttons button.link,
.old .modal .window a,
.old .modal .window a:visited,
.old .modal .window button.link { 
	color: #004274;
	text-decoration: none; 
}

.old .messageBox a:hover,
.old .messageBox button.link:hover,
.old .buttons a:hover,
.old .buttons button.link:hover,
.old .modal .window a:hover,
.old .modal .window button.link:hover {  
	color: #004274;
	text-decoration: underline;
}

.old h1, .old h2, .old h3 , .old h4
{
	margin-bottom: 0.5em;
}

.old h1
{
	color: #0a0a0a;
	margin:0px 0px 10px 0px;
	text-shadow:1px 1px 1px rgba(0,0,0,0.5);
}

.old hr.colorAccent {
	border:0;
	height:4px;
	background-color:grey;
	color: grey;
	width: 100%;
}

.old img {
	border: 0;
	-webkit-image-orientation: from-image;
	image-orientation: from-image;
}

.old li.expander{
	margin-left:-17px;
}

.old p {
	margin:4px 0px;
}

.old table { margin:0 auto; }

.old table.poll
{
	margin: 0;
	width: 100%;
}
.old table.poll tr td:nth-child(2)
{
	padding: 5px;
	background-color: #d0d0d0;
	border-radius:3px;
}

.old table.poll .pollvoteRadio
{
	width: 25px;
}

.old table.profiel{
	width: 80%;
	padding: 0px 20px;
	margin:0 auto;
	text-align:left;
}

.old table.profiel td.right {
	width:30%;
	vertical-align:top;
}
.old table.profiel td.left {
	width:30%;
	text-align:right;
	padding-right:50px;
}

.old .profiel .avatar {
	max-width: 100px;
	max-height: 100px;
}

.old textarea.editable
{
	width: 100%;
	height: 300px;
}

.old textarea[name="message"]
{
	width: 85%;
}


.old ul.expander{
	margin-left:30px;
}
/* END TAG STYLING */


/* CLASS STYLING, ALPHABETICALLY */

.old .aff {
		width:122px; /* menu width - 20px padding */
		padding:10px;
		margin-right:-142px;
		
}
.old .aff img
{
	border: 0;
	border-radius: 3px;
	box-shadow: 0px 2px 3px #333;
	width: 120px;
}

.old .agenda .h-event {
	display: block;
	position: relative;
	padding: 10px 0 10px 40px;
}

.old .agenda .h-event + .h-event {
	border-top: 1px solid #ccc;
}

.old .menu_contents .agenda li {
	display: block;
	position: relative;
	padding-left: 30px;
	margin-bottom: 5px;
}

.old .agenda .calendar-icon {
	position: absolute;
	top: 2px;
	left: 0;
	border-color: #000;
	font-weight: normal;
	color: #000;
}

.old .agenda .h-event .calendar-icon {
	top: 10px;
}

.old .agenda .details {
	display: block;
	font-weight: normal;
}

.old .agenda .label-pending {
	display: inline-block;
	background: #FFD700;
	padding: 4px;
	border-radius: 4px;
	font-size: 0.8em;
	font-weight: normal;
	font-style: italic;
}

.old .menu hr {
	display: block;
	height: 1px;
	border: none;
	background: #000;
}

.old .align-right {text-align:right;}
.old .align-center {text-align:center;}

.old .almanak
{
}

.old .bannerList
{
		margin: 10px 0px !important;
		padding: 0px;
}
.old .bannerList td
{
		height: 150px;
		background-color: #ddd;
		float: left;
		margin: 8px;
}
.old .bannerList td img
{
		margin: 0 auto;
		vertical-align: middle;
}

.old .topbar {
background-color:#F5F5F5;
color:#000;
float:left;
width: 96%;
height: 36px;
margin-bottom: 0px;
padding: 15px 2%;
	min-height:10px;
	height:auto !important;
}
.old .topbar a, .old .topbar a:visited, .old .bar a, .old .bar a:visited
{
	color: #004274;
}
.old .topbar a:hover, .old .bar a:hover
{
	text-decoration: underline;
}

.old .bar {
	min-height:10px;
	height:auto !important;
background-color:#F5F5F5;
color:#000;
float:left;
width:96%;
padding: 15px 2%;
margin-bottom: 0px;
-moz-border-radius: 0 0 5px 5px;
border-radius: 0 0 5px 5px;
}

.old .messageBox .bar {
	background: transparent;
}

.old .messageBox .right {
	position: absolute;
	right: 18px;
}

.old .bannerRotator
{
	width: 100%;
	margin-top: -10px;
	margin-bottom: 10px;
}
.old .bannerRotator a
{
	display: block;
	text-align: center;
}
.old .bannerRotator .frontpage_banner
{
	border: 0;
	border-radius: 3px;
	box-shadow: 0px 2px 5px #333;
	max-width: 100%;
}

.old .colorAccent.board {
	background-color:#b80a0a !important;
	color: #b80a0a !important;
}

.old .colorAccent.activitee,
.old .colorAccent.almanaccee,
.old .colorAccent.bookcee,
.old .colorAccent.brainstorm,
.old .colorAccent.sportee,
.old .colorAccent.eerstejaarscie,
.old .colorAccent.excie,
.old .colorAccent.foetsie,
.old .colorAccent.photocee,
.old .colorAccent.introcee,
.old .colorAccent.audicee,
.old .colorAccent.lancie,
.old .colorAccent.lustrumcie,
.old .colorAccent.mxcee,
.old .colorAccent.aphroditee,
.old .colorAccent.pc,
.old .colorAccent.comexa,
.old .colorAccent.promotie,
.old .colorAccent.memory,
.old .colorAccent.abcee,
.old .colorAccent.sympocie,
.old .colorAccent.webcie
{
	background-color: #2a65bd !important;
	color: #2a65bd !important;
}

.old .button, .old .button:visited
{
	border: 1px solid #666;
	border-radius: 3px;
	background-color: #ddd;
	padding: 4px 8px;
	cursor: pointer;
	font: 12px sans-serif;
	color: #000;
}

.old .button.active,
.old .button.wysihtml5-command-active
{
	background: #aaa;
}

.old .button:hover
{
	background: #ddd;
}

.old .button:active,
{
	background: #aaa;
}

.old .button img {
	vertical-align: middle;
}

.old .buttons
{
	background-color: #E5E5E5;
	margin: 10px 0px;
	border: 1px solid #8486A1;
	border-radius: 4px;
}
.old .buttons a
{
	padding: 3px 0px;
	display:inline-block;
	vertical-align: middle;
	height: 24px;
	line-height: 24px;
}

.old .button-bar .button,
.old .button-bar .button-group {
	vertical-align: middle;
}

.old .button-group {
	display: inline-block;
}

.old .button-group .button {
	float: left;
	border-radius: 0;
	border-width: 1px 0 1px 1px;
}

.old .button-group .button:first-child {
	border-radius: 3px 0 0 3px;
}

.old .button-group .button:last-child {
	border-radius: 0 3px 3px 0;
	border-width: 1px 1px 1px 1px;
}

.old .button-menu {
	position: relative;
}

.old .button-bar .button-menu ul {
	left: 0;
	right: 0;
	top: 22px;
	margin: 0;
	background: #eee;
	position: absolute;
	display: none;
	border: 1px solid #666;
	border-top: 0;
}

.old .button-menu ul li {
	list-style: none;
}

.old .button-menu ul li a {
	display: block;
	padding: 4px 8px;
	border-bottom: 1px solid #ccc;
	color: black;
	font-weight: normal;
	text-decoration: none;
}

.old .button-menu ul li a:hover {
	background: #ddd;
	color: black;
	text-decoration: none;
}

.old .button-menu ul li:last-child a {
	border-bottom: none;
}

.old .button-menu .button:focus + ul {
	display: block;
}

.old .large-button, .large-text {
	font-size: 22px;
}

.old .bookcee-webshop-call-to-action {
	text-align: center;
}

.old .bookcee-webshop-call-to-action .large-button {
	/*padding-right: 30px;*/
}

.old .bookcee-webshop-call-to-action .large-button:after {
	padding-left: 4px;
	content:'\25b8';
	color: #333;
}

.old .bold {font-weight:bold;}
.old .center {
		width:100%;
		padding:10px 0px;
}

.old .alignCenter {
	text-align:center;
}

.old .column {
		float:left;
		position:relative;
}

.old .container {
		padding-left:210px; /* menu width */
		padding-right:142px; /* aff width + 22px padding */
		background-color: rgb(102,102,102);
		background-color:rgba(255,255,255,0.2); /* IE9+ and new versions of firefox, chrome etc. ONLY!!! */
		min-width:535px;
		max-width:850px; /* plus padding-left and padding-right for total width (currently 350px) */
		margin:0 auto;
		border-radius:5px;
	 /* overflow:hidden;*/
}

.old .controls{
	display: block;
	height: 42px;
	line-height: 42px;
}

.old .controls a
{
	display:inline-block;
	vertical-align: middle;
}

.old .controls img {
	vertical-align: middle;
	margin-right: 4px;
}

.old .controls.inline
{
	float: right;
	height: 30px;
	line-height: 30px;
}

.old .clearBoth {
	clear: both;
}

.old .expander_menu {
	display:none;
}
/*.foto { float:left; padding: 10px; text-align:center; }
.old .foto img {
	border: 1px solid #ddd;
	box-shadow: 1px 1px 3px #555;
}*/
.old .photobooks {
	white-space-collapse: discard;
}

.old .photobook {
	float: left;
	position: relative;
	padding: 15px;
	width: 125px;
	height: 150px;
	text-align: center;
}

.old .photobook .photo-book-title {
	display: block;
	height: 44px;
	margin: 4px 0;
	font-weight: normal;
	color: black;
}

.old .photobook .photo-book-title small {
	display: block;
}

.old .photobook .controls {
	position: absolute;
	left: 10px;
	right: 10px;
	top: 65px;
	text-align: center;
	display: block;
	font-size: 16px;
	line-height: 16px;
}

.old .photobook .controls a {
	color: #000;
}

.old .photobook.unread .photo-book-title:after {
	content: '(new!)';
	color: #c60c30;
}

.old .photobook-box .mark-read-button {
	float: right;
}

.old .floatLeft { float:left; }
.old .floatRight { float:right; }

.old .messageBox.frontpage
{
	padding-top: 30px;
	margin-bottom: 15px;
}

.old .world > .header
{
	color:#FFF;
	position: relative;
	padding: 0;
	max-width:1200px;
	min-width: 810px;
	margin: 20px auto;
	height: 82px;
}

.old .world > .header > .message
{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 400px;
	margin: auto;
	background-color: #666;
	border-radius: 5px;
	padding: 10px 15px;
	margin-bottom: 10px;
	color:#fff;
	text-align:center;
	border: 1px solid darkgrey;
}
.old .world > .header .message a
{
	color: #fff;
	font-weight:bold;
}

.old .world > .header > .cover-logo {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 250px;
	height: 82px;
}

.old .world > .header > .login {
	position: absolute;
	bottom: -10px;
	right: 0;
	text-align:right;
	vertical-align: bottom;
}

.old .world > .footer {
	text-align: center;
	line-height: 30px;
}

.old .login > table {
	margin: 0;
	border-spacing: 0;
}

.old .login table tr > td {
	padding: 2px 0;
}

.old .login table a {
	display:block;
	float:right;
	color:#f5f5f5;
	font-weight:bold;
	font-size:10px;
	margin:5px 0px;
}

.old .login a {color:#000; text-decoration:none;}
.old .login .button 
{
	padding: 3px 5px; font-weight:bold;
	border:0; margin: 5px 0px 0px 5px;
	border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;

}
.old .login .logButton, .old .button
{
	background-image: linear-gradient(bottom, rgb(221,221,221) 20%, rgb(245,245,245) 60%);
	background-image: -o-linear-gradient(bottom, rgb(221,221,221) 20%, rgb(245,245,245) 60%);
	background-image: -moz-linear-gradient(bottom, rgb(221,221,221) 20%, rgb(245,245,245) 60%);
	background-image: -webkit-linear-gradient(bottom, rgb(221,221,221) 20%, rgb(245,245,245) 60%);
	background-image: -ms-linear-gradient(bottom, rgb(221,221,221) 20%, rgb(245,245,245) 60%);

	background-image: -webkit-gradient(
		.old linear,
		.old left bottom,
		.old left top,
		.old color-stop(0.2, rgb(221,221,221)),
		color-stop(0.6, rgb(245,245,245))
	);
}

.old .button {
	color: black;
	text-decoration: none;
	display: inline-block;
	font-weight: normal;
}

.old .login .textField 
{
	border:0; padding: 3px;
	border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
	width: 150px;


}

.old .login .logButton,
.old .login .logLink
{
	display:block; float:right; 
	padding: 3px 5px; margin: 5px 0px 5px 5px;
	border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
	font-weight:bold;
}

.old .login .logButton:hover
{
	text-decoration:none;
	box-shadow:0px 0px 3px #fff;
}

.old .login .logLink {
	color: #fff;
	font-weight: normal;
	text-decoration: underline;
}

.old .marginAuto { margin: 0 auto; }

.old .menu {
		width:190px; /* menu width - 20px padding */
		padding:10px;
		margin-left:-100%;
		right:210px; /* menu width */
		
}
.old .menu a{color:#004274; text-decoration: none;}
.old .menu a:hover
{
	text-decoration:underline;
}

.old .menu ul{ list-style-type:none; }
.old .menu ul.links{
	margin-left:17px;
}
.old .menu ul.star li{margin:3px auto;}
.old .menuItem{
	color:#000000;
	margin-bottom:10px;
	padding-bottom:10px;
	background-color: #f5f5f5;
	box-shadow:1px 1px 4px #000000;
	-moz-box-shadow:1px 1px 4px #000000;
	-webkit-box-shadow:1px 1px 4px #000000;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
.old .menuItem > *{
	padding:10px;
}
.old .menuItem > a{
	padding:3px 10px;
	display:block;
	position: absolute;
	right: 10px
}

.old .menuItem .menu_header
{
	padding-top: 3px;
}
.old .menuItem hr.menu_contents {
	padding:0;
	padding-top: 0px; 
	margin-top: 0px;
	margin-bottom:5px;
	height:5px;
	border:0; 
	background-color: #C60C30;
	color: #C60C30;
}

.old .menuItem.search {
	position: relative;
	padding-bottom: 0;
	box-shadow: none;
	background: transparent;
}

.old .menuItem.search > * {
	padding: 0;
}

.old .menuItem.search label {
	position: absolute;
	top: 4px;
	left: 6px;
	color: white;
}

.old .menuItem.search input[type=search] {
	-webkit-appearance: textfield;
	box-sizing: border-box;
	background: transparent;
	color: white;
	font: inherit;
	padding: 4px 4px 4px 18px;
	margin: 0;
	border: 1px solid #ccc;
	border-radius: 4px;
	width: 100%;
}

.old .menuItem.search input[type=search]:focus {
	border-color: white;
	outline: none;
}

.old .messageBox {
	position: relative;
	color:#000000;
	padding:15px;
	margin-bottom: 30px;
	background: #f5f5f5 url('images/cbox-bg.png') repeat-x scroll left top;
	border-radius: 0 0 4px 4px;
	overflow: hidden;
}

.old .messageBox .almanak form { text-align:center; margin: 0 auto; }
.old .messageBox .bericht
{
	margin-top: 10px;
}
.old .messageBox .button
{
	margin: 5px 0px;
}

.old .messageBox a.button {
	color: black;
	text-decoration: none;
}

.old .messageBox ul,
.old .messageBox ol {
	list-style-position: inside;
	margin: 10px 0px;
	margin-left: 15px;
}
.old .messageBox h1, .messageBox h2, .messageBox h3, .messageBox h4
{
	color: #333;
}

.old .messageBox h1 .permalink,
.old .messageBox h2 .permalink,
.old .messageBox h3 .permalink {
	color: inherit;
	font-weight: inherit;
}

.old .messageBox .section {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

.old .messageBox .section:last-child {
	border-bottom: none;
	margin-bottom: 0;
	padding-bottom: 0;
}

.old .messageBox figure {
	display: inline-block;
}

.old .messageBox figure figcaption {
	text-align: center;
}

.old ul.actions,
.old .messageBox ul.actions { /* Override default .messageBox ul styling */
	list-style: none;
	display: inline-block;
	margin: 1em 0 0 0;
}

.old ul.actions li {
	margin: 0 1em 0 0;
	padding: 0;
	display: inline-block;
}

.old .messageBox > .alt-section,
.old .messageBox > ul.actions,
.old .signup-form > ul.actions {
	background: #ddd;
	margin: 15px -15px;
	padding: 15px;
	display: block;
}

.old .messageBox ul.actions:empty {
	display: none;
}

.old .messageBox .alt-section:first-child,
.old .messageBox ul.actions:first-child {
	margin-top: -15px;
}

.old .messageBox .alt-section:last-child,
.old .messageBox ul.actions:last-child {
	margin-bottom: -15px;
}

.old .messageBox .last-modified {
	color: rgba(0, 0, 0, 0.5);
}

.old .messageBox + .archive-link {
	margin-top: -15px; /* To compensate for the 30px margin-bottom */
	text-align: center;
}

.old .newsHeading {
	clear: both;
}

.old .newsHeading > * {
	line-height: 29px;
	display: inline-block;
}

.old .newsTitle
{
	margin-top: -20px;
}
.old .newsTitle .right
{
	font-weight: bold;
	font-size: 11px;
	float:right;
	margin-top: -5px;
}
.old .newsTitle .subject
{
	margin: 10px 0px;
	font-weight: bold;
}
.old .newsTitle .subtitle
{
	font-size: 11px;
	margin-bottom: 15px;
}

.old .pcie {background-color:#00aeff !important;}
.old .profilehead {text-align:center;}
.old .almanak .hint {
	width: 400px;
}

.old .replyBox 
{ 
	background-color: #f0f0f0; margin: 10px 0px; padding: 0px 10px 10px 10px; 
	box-shadow:0px 0px 3px rgba(0,0,0,0.25); 
	-moz-box-shadow:0px 0px 3px rgba(0,0,0,0.25);
	border: 1px solid #73ACFF;

}
.old .replyBox:nth-child(odd) 
{ 
	background-color: #e5e5e5; 
	background-image:none;
}
.old .replyBox .replyDetails
{
	display:block;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	padding: 8px 0px; margin-bottom: 5px;
}
.old .replyBox .right
{
	font-weight:normal; font-size:10px;
	display:inline-block; float:right;
	margin:0;
}

.old .replyBox .right > *:after {
	display: inline-block;
	vertical-align: middle;
	width: 4px;
	height: 18px;
	content: '';
	border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.old .replyBox .right > *:last-child:after {
	display: none;
	/*margin-right: -8px;*/
}

.old .replyBox .title { font-weight:bold; }
.old .replyBox .subtitle { font-weight: normal; font-size:10px; padding: 0px 0px 5px 0px; }

.old span.right { text-align:right; }
.old .right { text-align:right; margin: 3px 0; }

.old .smaller
{
font-size: 10px;
}

.old .topMenu
{
	margin: 0 auto;
	height: 63px;
	margin-bottom: 15px;
	min-width:850px; max-width:1200px;
}
.old .topMenu ul { text-align:center; list-style:none; }
.old .topMenu ul li { display:inline; margin:3px 7px;}
.old .topMenu a {color:#fff; text-decoration:none;}
.old .topMenu a:hover { text-decoration:underline; }
.old .topMenu .authorized-only::after {
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	content: "\f023";
	display: inline-block;
	padding-left: 3px;
}

.old .headNav
{
	height: 40px;
	background-image: url('images/menubg.png'); background-repeat:repeat-x;
	border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;
	box-shadow: 0px 2px 7px #333;
	position:relative; z-index:1;
	font-weight:bold; font-size:14px;
	text-shadow:1px 1px 0px #000;
}
.headNav li { line-height: 40px; }
.old .headNav li.dropDown
{
	padding-left: 12px;
	background-image: url("images/collapsed.png"); background-repeat:no-repeat;
	background-size: 12px 12px;
	background-position: center left;
}
.old .headNav li.expanded
{
	background-image: url("images/expanded.png") !important;
	background-position: bottom left;
}

.old .separator
{
	border: 0;
	border-top: 1px solid #aaa;
}

.old .subNav ul { background-color: #333; display:none; }
.old .subNav ul.expander { margin:0px 4px; padding: 4px 0px 5px 0px; }
.old .subNav a
{
	font-weight: normal;
}

.old .textCenter, .text_center
{
	text-align:center;
}

.old .warning-section, .error-section {
	padding: 15px;
	margin-bottom: 15px;
	border-radius: 4px;
}

.old .error-section {
	background: #c60c30;
	color: white;
}

.old .warning-section {
	background: #FFD700;
	color: black;
}

.old .warning-section a {
	color: black;
}

.old label.label_error:before {
	content: '!';
	text-align: center;
	display: inline-block;
	width: 1.25em;
	height: 1.25em;
	line-height: 1.25em;
	margin: 0 4px;
	background: #c60c30;
	border-radius: 50%;
	color: #fff;
}

.old .vote {
	font-size: 9px;
	display: inline;
	height: 10px;
	background-image: url("images/pgspgs.png");
	vertical-align: middle;
}

.old .vote img.end {
	vertical-align: bottom;
}
/* END CLASS STYLING */


/* ID STYLING, ALPHABETICALLY */

/* END ID STYLING */


/* FIXES AND PATCHES, DO NOT TOUCH!!! */

/*Onestat bullshit */
.old #OneStatTag {
	position:static !important;
}

/*Clearfix bullshit */
.old .clearfix:after {
		content: ".";
		display: block;
		clear: both;
		visibility: hidden;
		line-height: 0;
		height: 0;
}

.old .clearfix {
		display: inline-block;
}

.old html .clearfix {
		display: block;
}

.old * html .clearfix {
		height: 1%;
}
/* END FIXES AND PATCHES */

.old table {
	margin-bottom: 10px;
}

.old .full-width-table {
	width: 100%;
	border-collapse: collapse;
	max-width: 100%;
	overflow: hidden;
}

.old .full-width-table th {
	text-align: left;
}

.old .full-width-table td {
	line-height: 2.4em;
}

.old .full-width-table th,
.old .full-width-table td {
	padding: 0 2px;
	white-space: nowrap;
}

.old .full-width-table th:first-child,
.old .full-width-table td:first-child {
	padding-left: 0;
}

.old .full-width-table th:last-child,
.old .full-width-table td:last-child {
	padding-right: 0;
}

.old .full-width-table tbody td {
	border-bottom: 1px solid #ccc;
}

.old .full-width-table tbody td pre {
	white-space: pre-wrap;
	word-wrap: break-word;
	word-break: break-all;
	overflow-wrap: break-word;
	line-height: 1.2em;
	margin: 0.6em 0;
}

.old .full-width-table th.actions, 
.old .full-width-table td.actions {
	text-align: right;
	white-space: nowrap;
}

.old .full-width-table th.truncate, 
.old .full-width-table td.truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 15em;
}

.old .full-width-table tr.highlight td,
.old .full-width-table tr.highlight th {
	background-color: #FFD700;
}

.old .full-width-table .hint {
	text-align: center;
	white-space: normal;
	margin: auto;
	padding: 40px;
	max-width: 450px;
}

.old .scrollable-table {
	overflow-x: scroll;
}

.old .scrollable-table .full-width-table {
	max-width: none;
}

.old .purchase-admin td {
	font-style: italic;
}

.old .purchase-reverted td {
	text-decoration: line-through;
}

.old th.numeric,
.old td.numeric {
	text-align: right;
}

.old th.enum,
.old td.enum {
	text-align: right;
}

.old th.timestamp,
.old td.timestamp {
	text-align: right;
}

.old table.incassomatic thead::before
{
    content: '';
    display: table-row;
    height: 20px;
}

.old table.vertical th {
	text-align: right;
	padding-right: 1ch;
}

.old #language-switch {
	position: absolute;
	right: 4px;
	top: 0;
	line-height: 24px;
	display: block;
	margin: 8px;
	background: #3B3B3B;
	border-radius: 3px;
}

/* Hide submit button and radio buttons */
.old #language-switch button,
.old #language-switch label > input {
	display: none;
}

.old #language-switch label > span {
	font-weight: normal;
	float: left;
	padding: 0 4px;
}

/* Underline as a link on hover */
.old #language-switch label:hover span {
	text-decoration: underline;
	cursor: pointer;
}

/* Show the currently chosen language */
.old #language-switch input[checked] + span {
	text-decoration: underline;
}

.old .timeline-container {
	position: relative;
	overflow: hidden;
}

.old .timeline-line {
	height: 100%;
	position: absolute;
	left: 50%;
	width: 2px;
	background: #b80a0a;
	bottom: 10px;
	margin-left: -1px;
	z-index: 10;
}

.old .timeline-footer {
	clear: both;
	text-align: center;
}

.old .timeline-event {
	width: 49%;
	border-radius: 4px;
	position: relative;
}

.old .timeline-event.full-width {
	width: 100%;
	clear: both;
	z-index: 15;
	text-align: center;
}

.old .timeline-event:nth-child(even) {
	float: right;
	clear: right;
}

.old .timeline-event:nth-child(odd) {
	float: left;
	clear: left;
}

.old .timeline-event .messageBox {
	padding: 15px;
	border-radius: 4px;
}

.old .timeline-event.bestuur .messageBox {
	padding: 0;
	border-radius: 4px;
}

.old .timeline-event.bestuur .board-photo {
	border-radius: 4px 4px 0 0;
}

.old .timeline-event.bestuur .messageBox .content {
	padding: 15px;
}

.old .timeline-event .messageBox:before {
	border: 7px solid;
	content: '';
	display: block;
	position: absolute;
	z-index: 5;
}

.old .timeline-event:nth-child(even) .messageBox:before {
	border-color: transparent #f5f5f5 transparent transparent;
	top: 15px;
	right: 100%;
}

.old .timeline-event:nth-child(odd) .messageBox:before {
	border-color: transparent transparent transparent #f5f5f5;
	top: 15px;
	left: 100%;
}

.old .youtube-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px; height: 0; overflow: hidden;
}
 
.old .youtube-container iframe,
.old .youtube-container object,
.old .youtube-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.old .committee-page {
	border-radius: 4px;
	overflow: hidden;
	position: relative;
}

.old .committee-photo {
	margin: -15px -15px 0 -15px;
}

.old .committee-photo img {
	display: block;
	width: 100%;
}

.old .committee-photo.vertical {
	width: 50%;
	float: left;
	margin-right: 15px;
}

.old .committee-members {
	margin: 15px 0;
}

.old .committee-members ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.old .committee-members li {
	flex: 0 0 auto;
	margin: 5px 0;
}

.old .committee-navigation {
	margin-top: -20px;
	height: 20px;
	position: relative;
}

.old .vertical-form > div,
.old .vertical-form > fieldset,
.old .vertical-form > fieldset > div {
	margin-bottom: 10px;
}

.old .vertical-form > div:last-child,
.old .vertical-form > fieldset:last-child {
	margin-bottom: 0;
}

.old .vertical-form label {
	display: block;
}

.old .vertical-form label:after {
	content: ':';
}

.old .vertical-form .checkbox label:after,
.old .vertical-form .radio label:after {
	content: none;
}

.old .vertical-form label .required-badge {
	color: #c00;
	cursor: help;
}

.old .vertical-form input[type=text],
.old .vertical-form input[type=email],
.old .vertical-form input[type=password],
.old .vertical-form input[type=tel],
.old .vertical-form textarea,
.old .vertical-form {
	width: 100%;
	box-sizing: border-box;
	resize: vertical;
}

.old .vertical-form li input[type],
.old .vertical-form input[size] {
	width: auto;
}

.old .vertical-form input + label {
	display: inline-block;
}

.old .vertical-form input + label:after {
	content: '';
}

.old .vertical-form input:disabled + label {
	color: #bbb;
}

.old .vertical-form input + label + small {
	display: block;
	margin-left: 18px;
}

.old .vertical-form label.label_error + input,
.old .vertical-form label.label_error + textarea {
	background-color: #e5c8cc;
}

.old .vertical-form label + input + p,
.old .vertical-form label + textarea + p,
.old .vertical-form label + select + p,
.old .vertical-form input + label + p {
	font-size: 0.85em;
}

.old .vertical-form table {
	margin: 0;
}

.old .vertical-form table th {
	text-align: left;
}

.old .vertical-form .option-group {
	list-style: none;
	line-height: 20px;
}

.old .vertical-form .option-group.columns {
	columns: 3;
	-webkit-columns: 3;
	-moz-columns: 3;
}

.old .vertical-form fieldset {
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 3px;
}

.old .vertical-form fieldset legend {
	margin-left: 0;
}

.old .vertical-form fieldset legend select:first-child {
	width: auto;
	margin-right: 1ch;
}

.old .vertical-form .button-bar {
	margin-bottom: 0;
}

.old .vertical-form .controls .button.primary {
	float: right;
	line-height: 42px;
	margin: 0 0 0 10px;
	padding: 0 30px;
}

.old .vertical-form .delete-link,
.old .vertical-form .delete-link:hover,
.old .vertical-form .delete-link:visited {
	float: right;
	color: red;
	line-height: 24px;
	margin: 5px 0;
}

.old .vertical-form select {
	width: 100%;
}

.old .mailinglists .mailinglist {
	margin-bottom: 1em;
}

.old .mailinglists .list-name {
	display: inline-block; 
}

.old form input[type],
.old form textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 4px;
}

.old .file-upload-button {
	display: inline-block;
	position: relative;
	overflow: hidden;
}

.old .file-upload-button input {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
	cursor: pointer;
	opacity: 0;
}

.old .vertical-form .field-group {
	display: flex;
}

.old .vertical-form .field-group > div {
	flex-grow: 1;
	padding: 0 1em;
}

.old .vertical-form .field-group > div.large-field {
	flex-grow: 3;
}

.old .vertical-form .field-group > div:first-of-type {
	padding-left: 0;
}

.old .vertical-form .field-group > div:last-of-type {
	padding-right: 0;
}

.old .ui-widget-overlay {
	background: #000;
}

.old .cover-logo {
	width: 250px;
	height: 82px;
}

.old #sticker-map {
	width: 100%;
	height: 640px;
	border-radius: 4px;
}

.old #sticker-info-window {
	min-width: 150px;
	min-height: 30px;
	padding: 10px 0 10px 10px;
}

.old #sticker-info-window,
.old #sticker-info-window a {
	color: black;
}

.old #sticker-info-window .sticker-photo > img {
	width: 300px;
}

.old #sticker-info-window .controls {
	text-align: center;
	height: auto;
}

.old #sticker-info-window .controls form {
	display: inline;
}

.old #sticker-info-window .controls .button {
	display: inline-block;
	vertical-align: bottom;
}

.old .add-sticker-form {
	min-width: 500px;
}

.old .sticker-location-map {
	width: 100%;
	height: 100%;
	min-height: 300px;
}

.old .event-cover-photo {
	width: 100%;
	padding-top: 38%;
	position: relative;
	z-index: 2;
	overflow: hidden;
	border-radius: 4px 4px 0 0;
}

.old .event-cover-photo > div {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.old .event-cover-photo > div > img {
	width: 100%;
}

.old .event-header {
	position: relative;
	min-height: 50px;
	z-index: 3;
}

.old .calendar-icon {
	display: inline-block;
	position: relative;
	width: 25px;
	height: 25px;
	vertical-align: baseline;
	margin-bottom: -3px;
	margin-right: 5px;
	border: 1px solid black;
	border-radius: 4px;
	text-align: center;
}

.old .calendar-icon > * {
	position: absolute;
	left: 0;
	right: 0;
}

.old .calendar-icon .month {
	text-transform: uppercase;
	top: 1px;
	font-size: 8px;
}

.old .calendar-icon .day {
	bottom: 0;
	font-size: 13px;
}

.old .event-header .calendar-icon {
	border-color: white;
}

.old .event-header h1 {
	display: inline;
	color: white;
	height: 50px;
	line-height: 50px;
	margin: 0;
	z-index: 2;
}

.old .event-header .event-cover-photo + .calendar-icon {
	position: absolute;
	margin-bottom: 0;
	bottom: 11.5px;
	left: 11.5px;
	z-index: 4;
}

.old .event-header .event-cover-photo + .calendar-icon + h1 {
	background: rgba(0, 0, 0, 0.7);
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0 15px;
	text-indent: 32px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding-right: 150px;
}

.old .event-header .rsvp-status-button {
	margin-right: 15px;
}

.old .rsvp-status-button {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 4;
	line-height: 50px;
}

.old .rsvp-status-button > .current {
	display: inline-block;
	color: black;
}

.old .dropdown-button.open .dropdown-menu {
	display: block;
}

.old .rsvp-status-button .dropdown-menu {
	display: none;
	list-style: none;
	position: absolute;
	top: 42px;
	right: 0;
	z-index: 10;
	background: #f5f5f5;
	
	line-height: 32px;
	box-shadow: 1px 1px 4px #333;
}

.old .rsvp-status-button .dropdown-menu:before {
	border: 7px solid;
	border-color: transparent transparent #f5f5f5 transparent;
	content: '';
	display: block;
	position: absolute;
	top: -14px;
	right: 14px;
	z-index: 5;
}

.old .rsvp-status-button .dropdown-menu > li  {
	border-bottom: 1px solid #ccc;
}

.old .rsvp-status-button .dropdown-menu > li:last-child  {
	border-bottom: none;
}

.old .rsvp-status-button .dropdown-menu > li > button {
	cursor: pointer;
	background: none;
	border: none;
	font: inherit;
	text-align: center;
	padding: 0 12px;
	width: 100%;
}

.old .rsvp-status-button .dropdown-menu > li > button:hover {
	text-decoration: underline;
}

.old ul.inline-profile-list {
	display: inline-flex;
	list-style: none;
	vertical-align: middle;
	margin: 0;
}

.old .event-header .event-attendees {
	position: absolute;
	bottom: 50px;
	right: 15px;
	left: 15px;
	margin-top: 6px;
	z-index: 10;
	text-align: right;
	
	flex-direction: row-reverse;
	flex-wrap: wrap-reverse;

	font-size: 2em; /* for the inline profile list */
}

.old .inline-profile-list li a {
	vertical-align: bottom;
	position: relative;
	font-weight: normal;
	text-decoration: none;
	margin-left: 4px;
}

.old .inline-profile-list li a .name {
	font-size: 11px;
}

.old .event-header .event-attendees li:nth-child(n+40) {
	display: none;
}

@media (max-width: 1000px) {
	.old .event-header .event-attendees li:nth-child(n+30) {
		display: none;
	}
}

@media (max-width: 920px) {
	.old .event-header .event-attendees li:nth-child(n+20) {
		display: none;
	}
}

.old .inline-profile-list li img {
	width: 1.75ex;
	height: 1.75ex;
	border-radius: 50%;
	border: 1px solid #333;
}

.old .inline-profile-list li .name {
	display: none;
}

.old .inline-profile-list li:hover .name {
	display: block;
	position: absolute;
	top: 90%;
	left: 0;
	width: auto;
	text-align: center;
	background: #f5f5f5;
	color: black;
	white-space:nowrap;
	padding: 4px;
	box-shadow: 1px 1px 4px #333;
	z-index: 10;
	line-height: 16px;
}

.old .inline-profile-list li:hover .name:before {
	border: 7px solid;
	border-color: transparent transparent #f5f5f5 transparent;
	content: '';
	display: block;
	position: absolute;
	top: -14px;
	left: 0;
	z-index: 5;
}

.old .event-header:after {
	content: '';
	clear: both;
	display: block;
}

.old form.inline-form {
	display: inline;
}

.old .contenteditable {
	display: inline-block;
	width: 100%;
}

.old .mailinglist-embed {
	margin: 10px 0;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	clear: both;
}

.old .mailinglist-embed h2 {
	background: transparent url(images/mail.svg) left center / 35px no-repeat;
	text-indent: 40px;
}

.old .heading-with-controls {
	clear: both;
}

.old .heading-with-controls h2 {
	display: inline-block;
	margin-right: 10px;
}

.old .heading-with-control * {
	line-height: 20px;
}

.old .create-link:before,
.old .edit-link:before {
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	content: "\f067";
	display: inline-block;
	padding-right: 3px;
}

.old .edit-link:before {
	content: "\f044";
}

.old .cmn-toggle {
	position: absolute;
	margin-left: -9999px;
	visibility: hidden;
}
.old .cmn-toggle + label {
	display: inline-block;
	position: relative;
	cursor: pointer;
	outline: none;
	user-select: none;
}

.old input.cmn-toggle-round + label {
	padding: 0;
	width: 36px;
	height: 18px;
	background-color: #dddddd;
	border-radius: 18px;
}

.old input.cmn-toggle-round + label:before,
.old input.cmn-toggle-round + label:after {
	display: block;
	position: absolute;
	top: 1px;
	left: 1px;
	bottom: 1px;
	content: "";
}

.old input.cmn-toggle-round + label:before {
	right: 1px;
	background-color: #f1f1f1;
	border-radius: 18px;
	transition: background 0.4s;
}

.old input.cmn-toggle-round + label:after {
	width: 16px;
	background-color: #fff;
	border-radius: 100%;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	transition: margin 0.4s;
}

.old input.cmn-toggle-round:checked + label:before {
	background-color: #8ce196;
}

.old input.cmn-toggle-round:checked + label:after {
	margin-left: 18px;
}

/* jQuery UI */

.old body .ui-corner-all {
	border-radius: 2px;
}

.old body .ui-menu .ui-menu-item .ui-state-active {
	background: #c60c30;
	color: white;
	background: Highlight;
	color: HighlightText;
	border: none;
	margin: 0;
}

.old body .ui-autocomplete a.profile.ui-state-active .starting-year {
	color: HighlightText;
}

.old body .ui-autocomplete a.profile {
	display: block;
	height: 45px;
	position: relative;
	overflow: hidden;
	padding: 0 0 0 35px;
	font-weight: normal;
	text-decoration: none;
}

.old body .ui-autocomplete a.profile .picture {
	position: absolute;
	top: 2px;
	left: 2px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

/* outline around the picture, just like in the large versions */
.old body .ui-autocomplete a.profile::after {
	content: '';
    border: 1px solid rgba(32, 32, 32, 0.25);
    position: absolute;
    top: 2px;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    left: 2px;
    border-radius: 50%;
    box-sizing: border-box;
}

.old body .ui-autocomplete a.profile .starting-year {
	display: block;
	color: #ccc;
}

.old .modal {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
	text-align: center;
	background: rgba(0, 0, 0, 0.7);
	overflow: auto;
}

.old .modal > .window {
	z-index: 110;
	display: inline-block;
	text-align: left;
	margin: 100px 0;
	padding: 20px;
	background: white;
	border-radius: 4px;
	min-width: 300px;
	min-height: 50px;
	max-width: 800px;
	position: relative;
}

.old .modal.photo-modal {
	z-index: 90; /* make sure the normal modals show before the photo popup */
}

.old .modal > .window {
	color: black;
}

.old .modal > .window > .close-button {
	border: none;
	background: transparent;
	position: absolute;
	width: 20px;
	height: 20px;
	font-size: 20px;
	line-height: 20px;
	right: 0;
	top: 0;
	cursor: pointer;
	z-index: 100;
}

.old .modal > .window > .close-button:hover {
	/*text-shadow: 0 0 3px rgba(64, 64, 255, 0.6);*/
	background: #c60c30;
	color: #fff;
	border-radius: 0 4px 0 0;
}

.old body.modal-open {
	overflow: hidden;
}

.old .privacy-preference-form {
	width: 400px;
}


.old .navigation {
	height: 20px;
	line-height: 20px;
	position: relative;
	text-align: center;
}

.old .navigation .previous:before,
.old .navigation .next:before,
.old .navigation .up:before {
	position: absolute;
	top: 0;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	line-height: 20px;
	transition: left 200ms, right 200ms, top 200ms;
}

.old .navigation .previous:before {
	left: 0;
	content: '\f053';
}

.old .navigation .previous:hover:before {
	left: -1px;
}
.old .navigation .next:before {
	right: 0;
	content: '\f054';
}

.old .navigation .next:hover:before {
	right: -1px;
}

.old .navigation .up:before {
	top: -16px;
	left: 0;
	right: 0;
	content: '\f077';
}

.old .navigation .up:hover:before {
	top: -17px;
}

.old .navigation .previous {
	position: absolute;
	padding-left: 12px;
	top: 0;
	left: 0;
}

.old .navigation .next {
	position: absolute;
	padding-right: 12px;
	top: 0;
	right: 0;
}

.old .navigation .up {
	position: relative;

}

.old .promotional-banner {
	position: relative;
	box-sizing: border-box;
	min-width: 850px;
	max-width: 1200px;
	/*margin: -25px auto 15px auto;*/
	margin: 0 auto 15px auto;
	padding: 60px 5%;
	border-radius: 5px;
	font-size: 2em;
	overflow: hidden;

	/* Trick to stop Safari from flickering */
	-webkit-transform:translate3d(0,0,0);
}

.old .promotional-banner h1,
.old .promotional-banner p,
.old .promotional-banner a {
	color: white;
	z-index: 1;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.old .promotional-banner .button {
	background: transparent;
	color: white;
	font-size: 1em;
	border: 2px solid white;
	padding: 20px 40px;

	border-radius: 8px;
	box-shadow: 0 1px rgba(0,0,0,0.5);

	position: absolute;
	right: 5%;
	bottom: 40px;
}

.old .promotional-banner .button:hover {
	background: rgba(255, 255, 255, 0.3);
}

.old .promotional-banner .button:active {
	background: rgba(255, 255, 255, 0.6);
}

.old .promotional-banner .background {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	opacity: 0.001;
	transition: opacity 1000ms ease-in-out;
	background-size: cover;
}

.old .promotional-banner .background.current {
	opacity: 0.9;
}

.old .promotional-banner .background-0 {
	background-image: url(images/promotional-header/llama-0.jpg)
}

.old .promotional-banner .background-1 {
	background-image: url(images/promotional-header/llama-1.jpg)
}

.old .promotional-banner .background-3 {
	background-image: url(images/promotional-header/borrel.jpg);
}

.old .promotional-banner .background-4 {
	background-image: url(images/promotional-header/introkamp.jpg);
}

.old .promotional-banner .background-5 {
	background-image: url(images/promotional-header/lanparty.jpg);
}

/* The embedded edition, used on the committees index */
.old .messageBox .promotional-banner {
	text-align: center;
	min-width: auto;
	max-width: initial;
	width: calc(100% - 20px);
	margin: 10px;
	box-sizing: border-box;
	transition: box-shadow 150ms ease-in-out;
}

.old .messageBox .promotional-banner > h1:after {
	background-position: center;
}

.old .messageBox a:hover .promotional-banner {
	box-shadow: 0 0 0 4px #c60c30;
}

.old .messageBox a:hover .promotional-banner h1 {
	color: white;
	text-decoration: underline;
}

.old .profile-widget {
	display: inline-block;
	position: relative;
	width: 150px;
	text-align: center;
}

.old .profile-widget h3:before {
	content: "\201C";
	color: #999;
}

.old .profile-widget h3:after {
	content: "\201D";
	color: #999;
}

.old .profile-widget > img,
.old .profile-widget > a > img {
	display: block;
	margin: 0 auto 4px auto;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.old .profile-widget:after {
	content: '';
	border: 1px solid rgba(32, 32, 32, 0.25);
	position: absolute;
	top: 0;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	left: 0;
	right: 0;
	border-radius: 50%;
	box-sizing: border-box;
	pointer-events: none;
}

.old .profile-widget > span {
	display: block;
	font-weight: normal;
}

.old .profile-widget .name {
	font-weight: bold;
}

.old .search .search-widget {
	display: flex;
	align-items: flex-start;
}

.old .search .search-widget label {
	display: none;
}

.old .search .search-widget input[type=search] {
	-webkit-appearance: textfield;
	box-sizing: border-box;
	border: 1px solid #333;
	flex: 1 1 auto;
	margin: 0;
	padding: 0 5px;
	font: inherit;
	font-size: 14px;
	height: 32px;
	border-radius: 4px;
	background: white;
}

.old .search .search-widget button {
	flex: 0 1 auto;
	height: 32px;
	margin: 0 0 0 6px;
}

.old .search-results > li {
	display: block;
	list-style: none;
	padding: 1em 0;
	border-bottom: 1px solid #ccc;
}

.old .search-results > li.focussed {
	background: rgb(255,255,224);
}

.old .search-results h2 {
	position: relative;
}

.old .search-results h2 small {
	color: #333;
	font-weight: normal;
	font-size: 12px;
	/*position: absolute;
	right: 0;
	bottom: 0;*/
	line-height: 22px;
}

.old .search-results h2 small:before {
	content: '(';
}

.old .search-results h2 small:after {
	content: ')';
}

.old .search-result-member .profile-widget {
	margin-right: 10px;
}

.old .search-result-member dl {
	vertical-align: top;
	display: inline-block;
}

.old .search-result-member dl dt {
	font-weight: bold;
	clear:left;
}

.old .search-result-member dl dd {
	margin-bottom: 4px;
}

.old .search-results li .keyword {
	font-weight: bold; 
}

.old .search-results li .glue {
	color: #ccc;
}

.old .search-results > li .photos {
	height: 200px;
	overflow: hidden;
}

.old .markup-image,
.old .markup-video {
	max-width: 100%;
}

.old .markup-image.company-logo {
	max-width: 240px;
	float: left;
	margin: 0 10px 10px 0;
}

.old .markup-region::after {
	content: '';
	display: block;
	clear: both;
}

.old .markup-header {
	clear: both;
}

.old .working-groups {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: flex-start;
	align-content: flex-start;
}

.old .working-groups > .working-group {
	width: 320px;
	margin: 10px auto;
}

.old .working-group {
	padding: 0 20px;
	border: 1px solid #ccc;
	border-radius: 4px;
	overflow: hidden;
	
}

.old .working-group > h3 {
	border-bottom: 1px solid #c60c30;
	margin: 0 -20px;
	padding: 0 20px;
	line-height: 40px;
}

.old .working-group > p {
	margin: 20px 0;
}

.old .working-group > ul {
	list-style: none;
	margin: 0 -20px;
}

.old .working-group > ul > li {
	padding: 0 20px;
	line-height: 40px;
	border-top: 1px solid #ccc;
}

.old .working-group > ul > li > a {
	line-height: inherit;
	display: inline-block;
	width: 100%;
	margin: 0 -20px;
	padding: 0 20px;
}

.old .working-group > ul > li > a > img {
	width: 32px;
	height: 32px;
	border: 1px solid #ccc;
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 10px;
}

/*
.old .working-group {
	position: relative;
	padding-right: 300px;
	margin-bottom: 40px;
}

.old .working-group > ul {
	position: absolute;
	top: 15px;
	right: 0;
	width: 280px;
}
*/

.old .list-group > .list-group-item {
	border: 1px solid #ccc;
	border-bottom-width: 0;
	padding: 12px;
	position: relative;
}

.old .list-group > .list-group-item:first-child {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.old .list-group > .list-group-item:last-child {
	border-bottom-width: 1px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.old .list-group > .list-group-item.list-group-item-with-action {
	padding-right: 120px;
}

.old .list-group > .list-group-item .list-group-item-action {
	position: absolute;
	top: 5px;
	right: 14px;
}

.old .tab-pane .aligned-list-section {
	margin-left: 140px;
	position: relative;
}

.old .tab-pane .aligned-list-section .hint {
	font-style: italic;
}

.old .tab-pane .aligned-list-section .center {
	margin-left: -140px;
	width: auto;
	text-align: center;
}

.old .tab-pane .aligned-list-section h4,
.old .tab-pane .aligned-list-section h4 + small {
	display: block;
	width: 130px;
	position: absolute;
	left: -140px;
	text-align: right;
	color: #000;
	font-weight: normal;
}

.old .tab-pane .aligned-list-section h4 + small {
	margin-top: 1.5em;
	font-size: 0.8em;
	color: #333;
}

.old .aligned-list-section .vertical-form > div {
	position: relative;
	line-height: 24px;
}

.old .aligned-list-section .vertical-form > div label {
	display: block;
	width: 130px;
	position: absolute;
	left: -140px;
	text-align: right;
	color: #000;
}

.old .aligned-list-section .vertical-form > div label:after {
	content: '';
}

.old .aligned-list-section .vertical-form > div div.radio label {
	position: static;
	text-align: left;
	width: auto;
}

.old dl.profile,
.old ul.committee-list {
	margin-left: -140px;
	display: inline-block;
	position: relative;
	list-style: none;
	line-height: 24px;
}

.old dl.profile > dd,
.old ul.committee-list > li {
	margin-left: 140px;
}

.old dl.profile > dd > a,
.old ul.committee-list > li > a {
	font-weight: normal;
	text-decoration: underline;
}

.old dl.profile > dd .fa,
.old ul.committee-list > li .fa {
	color: #999;
}

.old dl.profile > dt,
.old ul.committee-list > li .position {
	position: absolute;
	left: 0;
	width: 130px;
	color: #999;
	text-align: right;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.old .toggle-action-button .button {
	display: inline-block;
	position: relative;
	cursor: pointer;
	padding: 2px;
	width: 48px;
	height: 24px;
	background: #999;
	border: none;
	border-radius: 12px;
	transition: background 0.4s;
	text-indent: 48px;
	overflow: hidden;
}

.old .toggle-action-button .button:before,
.old .toggle-action-button .button:after {
  display: block;
  position: absolute;
  content: "";
}
.old .toggle-action-button .button:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #f5f5f5;
  border-radius: 60px;
  transition: background 0.4s;
}
.old .toggle-action-button .button:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 16px;
  background-color: #999;
  border-radius: 50%;
  transition: margin 0.4s, background 0.4s;
}

.old .toggle-action-button.toggle-state-active .button {
	background-color: #43B80B;
}

.old .toggle-action-button.toggle-state-active .button:after {
	background-color: #43B80B;
	margin-left: 24px;
}

.old .toggle-action-button:hover .button:after {
	margin-left: 4px;
}

.old .toggle-action-button.toggle-state-active:hover .button:after {
	margin-left: 20px;
}

.old .toggle-action-button.toggle-state-disabled .button {
	background-color: #ccc;
	cursor: default;
}

.old .toggle-action-button.toggle-state-disabled .button:before {
	background-color: #eee;
}

.old .toggle-action-button.toggle-state-disabled .button:after {
	background-color: #ccc;
}

.old .toggle-action-button.toggle-state-disabled:hover .button:after {
	margin-left: 0;
}

.old .toggle-action-button.toggle-state-disabled.toggle-state-active:hover .button:after {
	margin-left: 24px;
}

.old #login-form {

}

.old #login-form .vertical-form > div {
	margin-bottom: 15px;
}

.old #login-form  input[type] {
	font-size: 22px;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 2px;
}

.old .nav-tabs,
.old .messageBox ul.nav-tabs {
	list-style: none;
	display: block;
	border-bottom: 1px solid #ccc;
	margin: 20px 0;
}

.old .messageBox > .tab-container:first-child ul.nav-tabs {
	margin-top: 0; /* fix that massive margin-top a bit if there is nothing above the tabs */
}

.old .nav-tabs > li > a {
	display: inline-block;
	padding: 0 10px;
	line-height: 18px;
}

/* Horizontal tabs (e.g. login) */

.old .nav-tabs.horizontal {
	padding: 0 10px;
}

.old .nav-tabs.horizontal > li {
	display: inline;
}

.old .nav-tabs.horizontal li a {
	margin-bottom: -1px;
	background: #f5f5f5;
	border: 1px solid #ccc;
}

.old .nav-tabs.horizontal li a.connected-tab {
	margin-left: -1ch;
}

.old .nav-tabs.horizontal li.active a {
	border-bottom-color: #f5f5f5;
}

/* Vertical tabs (e.g. profile) */

.old .nav-tabs.vertical > li.active {
	background: #ddd;
	color: white;
}

.old .nav-tabs.vertical > li > a {
	display: block;
	padding: 10px 4px;
}

.old .nav-tabs.vertical > li:not(:first-child) {
	border-top: 1px solid #ccc;
} 

.old .nav-tabs > li.fa-icon > a:after {
	padding-left: 4px;
	color: #999;
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
}

.old .nav-tabs > li.icon-system > a:after {
	content: "\f013";
}

.old .nav-tabs > li.icon-public > a:after {
	content: "\f0ac";
}

.old #login-form .nav-tabs {
	text-align: center;
}

.old #login-form .nav-tabs li a {
	line-height: 38px;
	width: 35%;
}

.old #login-form .cover-logo {
	display: block;
	margin: 0 auto;
	transform: translateX(-14px);
}

.old .window #login-form .nav-tabs li a {
	background: #fff;
}

.old .window #login-form .nav-tabs li.active a {
	border-bottom-color: #fff;
}

.old button .fa {
	/*display: inline-block;*/
	margin-right: 4px;
	float: left;
}

/* Flowgallery photo stuff */
.old .photos:after {
	content: '';
	display: block;
	clear: both;
}

.old .photos .thumbnail {
	position: relative;
	float: left;
	display: block;
	width: 32%;
	height: 200px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-align: center;
	box-sizing: border-box;
	transition: width 100ms;
}

.old .photos .thumbnail.unread {
	box-shadow: 0 0 0 3px #c60c30;
}

.old .photos .thumbnail a {
	position: relative;
	display: inline-block;
}

.old .photos .thumbnail img {
	height: auto;
}

.old .photos .thumbnail .selection-checkbox {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 65px;
	margin: auto;
	z-index: 5;
}

.old .photos .description {
	display: block;
}

.old .photos .comments {
	display: block;
}

.old .photos .privacy-preference {
	position: absolute;
	bottom: 5px;
	right: 5px;
	width: 15px;
	height: 15px;
	z-index: 15;
	background: green;
}

.old .photos .privacy-hidden .privacy-preference {
	background: red;
}

.old .photos .privacy-preference > ul {
	z-index: 20;
}

.old .flow-gallery {
	margin: 0;
	padding: 0;
	list-style: none;
}

.old .photos .thumbnail {
	float: left;
	margin: 3px;
	overflow: hidden;
	position: relative;
	text-align: left;
}

.old .photos .thumbnail .selection-checkbox:checked + a:after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
	border: 4px solid #c60c30;
}

.old .photos .thumbnail a {
	position: static;
	display: inline;
}

.old .photos .thumbnail img {
	width: auto;
	height: 100%;
	max-width: none;
	z-index: -1;
}

.old .photos .thumbnail a:hover:after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.3);
	z-index: 1;
}

.old .photos .thumbnail .like-button {
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 3;
}

.old .photos .thumbnail .description,
.old .photos .thumbnail .comments,
.old .photos .thumbnail .privacy {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 5px;
	color: white;
	text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
	font-weight: normal;
	opacity: 0.8;
    z-index: 3;
	/*text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;  */
}

.old .photos .thumbnail .description {
	font-weight: bold;
	opacity: 1.0;
}

.old .photos .thumbnail .privacy {
	font-style: italic;
} 

.old .photos .thumbnail .privacy + .comments,
.old .photos .thumbnail .privacy + .description,
.old .photos .thumbnail .comments + .description {
	bottom: 15px;
} 

.old .photos .thumbnail .privacy + .comments + .description  {
	bottom: 30px;
} 

.old .photos .thumbnail .selection-checkbox {
	top: 0;
	left: 0;
	margin: 5px;
	bottom: auto;
	right: auto;
}

.old .call-to-action-or-block {
	max-width: 400px;
	margin: 20px auto;
	text-align: center;
}

.old .call-to-action-or-block .button {
	font-size: 2em;
	padding: 10px 20px;
	width: 130px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}

.old .call-to-action-or-block .button.login {
	line-height: 60px;
}

.old .call-to-action-or-block .button.register {
	line-height: 30px;
}

.old .call-to-action-or-block .separator {
	display: inline-block;
	width: 30px;
	border: none;
	font-size: 1.5em;
	text-align: center;
	color: #666;
}

.old ol.almanac {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
}

.old ol.almanac > li {
	height: 150px;
	flex-grow: 0;
	align-self: flex-start;
}

.old .committee-battle-scores td {
	line-height: 40px;
}

.old .committee-battle-scores tr.position-1 td {
	font-size: 300%;
	line-height: 200%;
}

.old .committee-battle-scores tr.position-2 td {
	font-size: 250%;
	line-height: 200%;
}

.old .committee-battle-scores tr.position-3 td {
	font-size: 150%;
	line-height: 200%;
}

.old .committee-battle-scores tr.position-1 .inline-profile-list .committee-member::before {
	content: '';
	background: 0 0 url(images/crown.svg) no-repeat;
	position: absolute;
	top: -0.4em;
	left: -0.25em;
	right: 0;
	height: 20px;
	background-size: contain;
	transform: rotate(-20deg);
}

.old .committee-battle-banner > h1 {
	font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, 'Helvetica Inserat', 'Bitstream Vera Sans Bold', 'Arial Black', 'sans serif';
	font-style: italic;
	font-size: 3em;
	position: relative;
	color: rgba(255, 255, 255, 0.0) !important;
	text-shadow: none;
}

.old .committee-battle-banner > h1:after {
	content: '';
	background-image: url(images/committee-battle.svg);
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 1em;
	left: 0;
	right: 0;
}

.old .committee-battle-banner > p {
	text-indent: 0.35em;
}

.old .committee-battle-banner .column {
	position: absolute;
	top: -100%;
	
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	transform: rotate(35deg) translate(0, 0%);
	border: 1px solid black;
	background: black;
	overflow: hidden;
	z-index: -2;
}

.old .committee-battle-banner .column > img {
	width: 200%;
	height: 200%;
	margin: 10% -50% 10% -50%;
	transform: rotate(-35deg);
}

@keyframes banner-scroll {
	from { 
		transform: rotate(35deg) translate(0, 0%);
	}
	to {
		transform: rotate(35deg) translate(0, -60%);
	}
}

.old .committee-battle .content {
	margin-top: 1em;
}

.old .click-to-read-on {
	overflow-y: hidden;
	position: relative;
	max-height: 5000px;
	transition: max-height 500ms ease-in-out;
}

.old .click-to-read-on.collapsed {
	max-height: 500px;
	border-bottom: 1px solid #999;
}

.old .click-to-read-on.collapsed:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100px;
	background: linear-gradient(to bottom, rgba(245, 245, 245, 0.0) 0%, rgba(245, 245, 245, 1.0) 60%, rgba(245, 245, 245, 1.0) 100%);
	pointer-events: none;
}

.old .click-to-read-on > button.read-on-button {
	transition: box-shadow 150ms ease-in-out;
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	margin: auto;
	width: 200px;
	z-index: 10;
	display: none;
}

.old .click-to-read-on > button.read-on-button:focus {
	box-shadow: 0 0 0 4px #c60c30;
}

.old .click-to-read-on.collapsed > button.read-on-button {
	display: block;
}

.old .select2-container {
	color: black; /* because color of body is white for some reason */
}

.old .select2-container .select2-results__option {
	padding: 0 6px;
	line-height: 2.5em;
}

.old .select2-container .profile-image {
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	border: 1px solid #333;
	margin-right: 0.5ex;
	vertical-align: middle;
}

.old body.without-menu .header {
	min-width: 0;
}

.old body.without-menu .container {
	padding: 0;
	max-width: 400px;
	font-size: 1.2em;
	line-height: 1.4em;
}

.old body.without-menu #contents {
	width: auto;
	margin: 10px 20px;
}

.old body.without-menu .messageBox {
	margin: 0;
}

.old ul.call-to-action {
	margin-left: 0;
}

.old ul.call-to-action li {
	list-style: none;
	line-height: 2.4em;
}

.old ul.call-to-action li a {
	display: block;
	margin: 4px 0;
	padding: 4px 12px;
	background: #eee;
	border-radius: 3px;
}

.old ul.call-to-action li a:hover,
.old ul.call-to-action li a:active {
	text-decoration: none;
	background: #ccc;
}

.old ul.call-to-action li a::before {
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	content: "\f18e";
	display: inline-block;
	padding-right: 5px;
}

.old .well {
	background: #e0e0e0;
	padding: 12px 20px;
	margin: 8px 0;
	border-radius: 3px;
}

.old .well .button.login {
	display: inline-block;
	margin: 0 auto;
}

.old .header > .cover-room-open {
	position: absolute;
	top: 20px;
	left: 270px;
	font-size: 8px;
	text-decoration: none;
	text-align: center;
	color: white;
	transform: rotate(-7deg);
	display: inline-block;
	background: #C8102E;
	margin: 6px 0;
	padding: 4px;
	border-radius: 4px;
	box-shadow: 0 0 0 2px white, 0 0 0 4px #C8102E, -1px 1px 4px 3px rgba(0, 0, 0, 0.3);
	transition: box-shadow 75ms ease-out;
}

.old .header > .cover-room-open:hover,
.old .header > .cover-room-open:active {
	box-shadow: 0 0 0 4px white, 0 0 0 8px #C8102E, -1px 1px 8px 3px rgba(0, 0, 0, 0.3);
}

.old .header > .cover-room-open > span {
	display: block;
	font-size: 24px;
	text-transform: uppercase;
}

/* Sign up forms */

.old .submit-on-change .hide-if-submit-on-change,
.old .submit-on-change.hide-if-submit-on-change {
	display: none;
}

.old .form-field {
	position: relative;
	padding: 0 0 0 38px;
	border-bottom: 1px solid #ccc;
}

.old .form-field .sortable-drag-handle {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 38px;
	cursor: grab;
}

.old .form-field .sortable-drag-handle + form {
	padding-top: 8px;
}

.old .form-field *[data-growing-list] {
	list-style: none;
	margin: 0 0 1em 0;
}

.old .form-field .drag-handle {
	display: inline-block;
	width: 1em;
	height: 1em;
	cursor: grab;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}

.old .form-field .drag-handle::before {
	content: '\f0c9';
}

.old .form-field > form,
.old .form-field > .controls {
	padding: 0 8px;
}

.old .form-field .sortable-drag-handle:hover,
.old .form-field .sortable-drag-handle:hover + form,
.old .form-field .sortable-drag-handle:hover + form + form,
.old .form-field .sortable-drag-handle:hover + form + form + .controls {
	background: #ececec;
}

.old .form-field .field-type {
	font-size: 1em;
}

.old .field-type-name::before,
.old .field-type-textfield::before,
.old .field-type-checkbox::before,
.old .field-type-choice::before,
.old .field-type-editable::before,
.old .field-type-address::before,
.old .field-type-bank-account::before {
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	position: absolute;
	left: 18px;
	top: 8px;
	height: 30px;
	margin: auto auto;
	font-size: 18px;
	opacity: 0.3;
	pointer-events: none;
}

.old .field-type-name::before {
	content: "\f007";
}

.old .field-type-address::before {
	content: "\f015";
}

.old .field-type-editable::before {
	content: "\f031";
}

.old .field-type-textfield::before {
	content: "\f044";
}

.old .field-type-checkbox::before {
	content: "\f14a";
}

.old .field-type-choice::before {
	content: "\f05d";
}

.old .field-type-bank-account::before {
	content: "\f09d";
}

.old .messageBox .signup-form {
	padding: 15px;
	border: 1px solid #ccc;
	background: #eee;
	border-radius: 4px;
}
